body, html {
  height: 100%;
}
body {
  background-color: #315570/*#2c5885*//*#6aa6c0*/;
  margin: 0;
  padding: 15px;
}

.main-content {
  height: 80%;
}
.container {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
header {
  margin-bottom: 5px;
}
footer {
  margin-top: 5px;
  margin-bottom: 5px;
}

.navbar-brand {
  padding: 0;
}


.btn-style1 {
	background-color: #65a3be;
	color: #fff;
	border-color: #ccc;
}

.btn-style1:hover {
	background-color: #4986a1;
	color: #fff !important;
	border-color: #adadad;
}

.btn-style1.focus, .btn-style1:focus {
    background-color: #367089;
	color: #fff !important;
    border-color: #8c8c8c;
}

.btn-orange {
  border-color: #925c23;
  box-shadow: 0 1px 2px #777;
  color: #694219;

background-color:#f5c489;
background:-webkit-gradient(linear, left top, left bottom, from(#FED99A), to(#ECAE78));
background:-moz-linear-gradient(top, #FED99A, #ECAE78);
background:-o-linear-gradient(top, #FED99A, #ECAE78);
background:linear-gradient(top, #FED99A, #ECAE78);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FED99A', endColorstr='#ECAE78');

}

.btn-orange:hover, 
.btn-orange:focus 
{
background-color:#f3b871;
background:-webkit-gradient(linear, left top, left bottom, from(#fed081), to(#e9a162));
background:-moz-linear-gradient(top, #fed081, #e9a162);
background:-o-linear-gradient(top, #fed081, #e9a162);
background:linear-gradient(top, #fed081, #e9a162);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed081', endColorstr='#e9a162');
    border-color: #925c23;
    box-shadow: 0 1px 2px #777;
    color: #694219;
}


.panel-gray > .panel-heading {
  background-color: #315570;
  border-color: #315570;
  color: #fff;
}

.panel-purple {
  border-color: #9999cc;
}
.panel-purple > .panel-heading {
  background-color: #9999cc;
  border-color: #9999cc;
  color: #fff;
}

.panel-turquoise > .panel-heading {
  background-color: #009688;
  border-color: #009688;
  color: #fff;
}

.panel-grey {
  border-color: #728ca4;
}
.panel-grey > .panel-heading {
  background-color: #728ca4;
  border-color: #728ca4;
  color: #fff;
}
