/* fix Bootstrap */
/*
header .nav-tabs .btn:hover {
	background-color: orange;
	color: #000 !important;
}
header .nav-tabs .btn:focus {
	background: orange;
	color: #000 !important;
}

.nav-tabs {
	margin-bottom: 10px;
}

header .navbar {
    margin-bottom: 0;
}
*/
.alert {
	margin-bottom: 3px !important;
	padding: 10px !important;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
	border-color: #ffb515;
}


/* LOG panel */
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
	background-color: #b0c4de;
	position: fixed;
	bottom: 0;
	right:0;
	z-index: 999;
	opacity: 0.9;
	border-radius: 4px;
}

.log-panel .panel-body{
	padding: 5px;
}

.log-panel span a{
text-decoration:none;
outline: none;
}

#log{
/*	
	height: 400px;
	overflow-y: auto;	
*/	
}

#btn-clear-log {
/*	
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
*/	
}
	

#log .alert {
margin-bottom: 0;
padding: 10px;
}

#log p{
margin: 0;
}

/* GRID */
.w10{
	width:10%;
}
.w20{
	width:20%;
}
.w25{
	width:25%;
}
.w30{
	width:30%;
}
.w33{
	width:33%;
}
.w50{
	width:50%;
}
.w60{
	width:60%;
}
.w65{
	width:65%;
}
.w70{
	width:70%;
}
.w80{
	width:80%;
}
.w90{
	width:90%;
}

.row {
	/* float: none; */
	clear: both;
	overflow: hidden;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}
/*================================*/

