/* fix Bootstrap */
/*
header .nav-tabs .btn:hover {
	background-color: orange;
	color: #000 !important;
}
header .nav-tabs .btn:focus {
	background: orange;
	color: #000 !important;
}

.nav-tabs {
	margin-bottom: 10px;
}

header .navbar {
    margin-bottom: 0;
}
*/
.alert {
	margin-bottom: 3px !important;
	padding: 10px !important;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
	border-color: #ffb515;
}


/* LOG panel */
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
	background-color: #b0c4de;
	position: fixed;
	bottom: 0;
	right:0;
	z-index: 999;
	opacity: 0.9;
	border-radius: 4px;
}

.log-panel .panel-body{
	padding: 5px;
}

.log-panel span a{
text-decoration:none;
outline: none;
}

#log{
/*	
	height: 400px;
	overflow-y: auto;	
*/	
}

#btn-clear-log {
/*	
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
*/	
}
	

#log .alert {
margin-bottom: 0;
padding: 10px;
}

#log p{
margin: 0;
}


/* GRID */
.w10{
	width:10%;
}
.w20{
	width:20%;
}
.w25{
	width:25%;
}
.w30{
	width:30%;
}
.w33{
	width:33%;
}
.w50{
	width:50%;
}
.w60{
	width:60%;
}
.w65{
	width:65%;
}
.w70{
	width:70%;
}
.w80{
	width:80%;
}
.w90{
	width:90%;
}

.row {
	/* float: none; */
	clear: both;
	overflow: hidden;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}
/*================================*/



/* PANELS */
/*.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.panel-body {
	padding: 15px;
}*/


/* LIST */
/*.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}*/

/* FORMS */
/*input[type="range"] {
	display: block;
	width: 100%;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}*/

/* BUTTONS */
/*.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-blue {
	background-color: #007bff;
	color: #fff;
	-webkit-box-shadow: inset 0 36px 38px -38px #fff;
	-moz-box-shadow: inset 0 36px 38px -38px #fff;
	box-shadow: inset 0 36px 38px -38px #fff;
  font-size: 14px;
  font-weight: 400;
}

.btn-blue:hover {
	background-color: #ff8c00 !important;
	color: #000 !important;
}

.btn-blue:focus {
	color: #fff !important;
	outline: 0;
}

.btn-blue:active:focus {
	color: #000 !important;
}
.btn-blue:active {
}
.btn-blue:visited {
}



.btn-blue-c4 {
    color: #fff;
	background-color: #269abc;
}

.btn-blue-c4:hover {
	background-color: #ff8c00;
	color: #000 !important;
}

.btn-blue-c4:focus {
	color: #fff !important;
}


.btn-blue-green {
	background-color: #3f9cca;
	background: -webkit-linear-gradient(#4cadd4, #3896c5);
	background: -o-linear-gradient(#4cadd4, #3896c5);
	background: -moz-linear-gradient(#4cadd4, #3896c5);
	background: linear-gradient(#4cadd4, #3896c5);
	border-color: #4cadd4;
	color: #fff;
}
.btn-blue-green:hover {
	background: #ff8c00;
	border-color: #ff8c00;
	color: #000 !important;
}
.btn-blue-green:focus {
	color: #fff !important;
}


.btn-darkblue {
	background-color: #004586;
	-webkit-box-shadow: inset 0 36px 38px -38px #fff;
	-moz-box-shadow: inset 0 36px 38px -38px #fff;
	box-shadow: inset 0 36px 38px -38px #fff;
	border-color: #3f9cca;
	color: #fff;
  font-size: 14px;
  font-weight: 400;
}

.btn-darkblue:hover {
	background-color: #ff8c00;
	border-color: #ff8c00;
	color: #000 !important;
}

.btn-darkblue:focus {
	color: #fff !important;
}


.btn-violet-fb {
	background-color: #395697;
	color: #fff;
}

.btn-violet-fb:hover {
	color: #fff;
}



.btn-greygreen {
	background-color: #6298A5;
	color: #fff;
}
.btn-greygreen:hover {
	background-color: orange;
	color: #000 !important;
}

.btn-greygreen:visited {
	color: #fff;
}


.btn-style1 {
	background-color: #4986a1;
	color: #fff;
	border-color: #adadad;
}



.btn-style1:hover {
	background-color: #65a3be;
	color: #fff !important;
	border-color: #ccc;
}


.btn-style1.focus, .btn-style1:focus {
	color: #fff !important;
    border-color: #8c8c8c;
}


.btn-orange {
  border-color: #925c23;
  color: #694219;
background-color:#f5c489;
background:-webkit-gradient(linear, left top, left bottom, from(#FED99A), to(#ECAE78));
background:-moz-linear-gradient(top, #FED99A, #ECAE78);
background:-o-linear-gradient(top, #FED99A, #ECAE78);
background:linear-gradient(top, #FED99A, #ECAE78);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FED99A', endColorstr='#ECAE78');
}

.btn-orange:hover, 
.btn-orange:focus 
{

background-color:#f3b871;
background:-webkit-gradient(linear, left top, left bottom, from(#fed081), to(#e9a162));
background:-moz-linear-gradient(top, #fed081, #e9a162);
background:-o-linear-gradient(top, #fed081, #e9a162);
background:linear-gradient(top, #fed081, #e9a162);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed081', endColorstr='#e9a162');
    border-color: #925c23;
    box-shadow: 0 1px 2px #777;
    color: #694219;
}



.btn-orange-m {
	background: -webkit-linear-gradient(#ffd862, #ffc30b);
	background: -o-linear-gradient(#ffd862, #ffc30b);
	background: -moz-linear-gradient(#ffd862, #ffc30b);
	background: linear-gradient(#ffb644, #ff9e07);
	border-color: #ffb644;
	color:#000;
}

.btn-orange-m:focus:not(:disabled):not(.disabled){

	border-color: #B36C00;

}

.btn-red {
	background: -webkit-linear-gradient(#f27966, #eb4d4d);
	background: -o-linear-gradient(#f27966, #eb4d4d);
	background: -moz-linear-gradient(#f27966, #eb4d4d);
	background: linear-gradient(#f27966, #eb4d4d);
	border-color: #f27966;
	color:#fff;

}

.btn-red:focus:not(:disabled):not(.disabled){
	border-color: #BD1615;
}


.btn-green {
	background-color: #1bcb49;
	background: -webkit-linear-gradient(#4fcb4f, #00b04e);
	background: -o-linear-gradient(#4fcb4f, #00b04e);
	background: -moz-linear-gradient(#4fcb4f, #00b04e);
	background: linear-gradient(#4fcb4f, #00b04e);
	border-color: #4fcb4f;
}

.btn-green:focus:not(:disabled):not(.disabled){
	border-color: #005C2A;
}



.btn-green-shadow {
	color: #fff;
	background-color: #008b8b;
	border-color: #008b8b;
	-webkit-box-shadow: inset 0 36px 38px -38px #fff;
	-moz-box-shadow: inset 0 36px 38px -38px #fff;
	box-shadow: inset 0 36px 38px -38px #fff;
  font-size: 14px;
  font-weight: 400;
}

.btn-green-shadow:hover, 
.btn-green-shadow:focus {
}
*/

/* COLORS */
/*.bg-darkblue {
  background-color: #004586 !important;
}*/


/*.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}*/


/* ICONS */
/*
@font-face {
	font-family:FontAwesome;
	src:url(../fonts/fontawesome-webfont.eot);
	src:url(../fonts/fontawesome-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff2)format('woff2'),url(../fonts/fontawesome-webfont.woff)format("woff"),url(../fonts/fontawesome-webfont.ttf)format("truetype");
	font-weight:400;
	font-style:normal
}
[class*='uk-icon-'] {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*='uk-icon-'],
[class*='uk-icon-']:hover,
[class*='uk-icon-']:focus {
  text-decoration: none;
}

.uk-icon-home:before {
  content: "\f015";
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.glyphicon-home:before {
  content: "\e021";
}*/
