html {
    font-family: segoe-ui-webfont, OpenSans-Regular, hattori_hanzolight, 'ComfortaaLight';
}

.site-header {
	font-size: xx-large;
	font-weight: normal;
	/*margin: 15px;*/
}

.lr-btn-darkblue {	font-family: ticker-tape-regular;}
.lr-btn-blue {}
.lr-btn-green-shadow {	padding: 10px 15px;}

.lr-icon {
	width: 30px;
	height: 30px;
	margin: 5px;
}

/*====== MEDIA styles =======*/
@media screen and (max-width:1600px){}
@media screen and (max-width:1300px){}

@media screen and (max-width:1280px){
	.lr-container {
		width: 90%;
	}
}

@media screen and (max-width:1090px){}

@media screen and (max-width: 990px){
/*
	body {
		padding-top: 5px;
	}
*/
	.lr-container {
		width: 100%;
	}
	.list-group-item a {
		display: block;
	}
}

@media screen and (max-width:870px){}

@media(max-width: 800px){
	.lr-panel-inline {
		width: auto;
	}
}

@media screen and (max-width:790px){}
@media(max-width: 768px){}

@media(max-width: 750px){
	.page-header h1 {
		font-size: 150%;
	}
}

@media screen and (max-width:690px){}
@media screen and (max-width:600px){
	.site-header {
		/*font-size: 20px;*/
		text-align:center;
	}
}

@media screen and (max-width:480px){
	.lr-container {
		width: 99%;
	}
	.page-header h1 {
		font-size: 120%;
	}
}

@media screen and (max-width:380px){
	.site-header {
		margin: 0;
	}
}
