body
{
	margin-top: 5px;
	background-color: #055c80;
	/*background-color: #082844;*/
}
a{
/*color:#0000ee;*/
}

.container {
	background-color: #b6cfed;	
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
}
.panel {
	/*background-color: #51a1e6;*/
}
.panel.pull-left {
margin:5px;
}
