<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, layout=1.0">
	<title>test mustache</title>
<!--	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
-->
	<link rel="stylesheet" href="../../css/bootstrap335.min.css">
	<script src="lib/mustache.min.js"></script>


<script>
var data = {
	"header": "Colors",
	"items": [
		{"name": "red", "first": true, "url": "#Red"},
		{"name": "green", "link": true, "url": "#Green"},
		{"name": "blue", "link": true, "url": "#Blue"}
	],
	"empty": false
}

window.onload = function(){
console.log("onload");
	version.innerHTML += Mustache.version;
	var template = tmpl1.innerHTML;
//console.log(template);	
	var html = Mustache.to_html(template, data);
	render.innerHTML += html;
};//end load

</script>
</head>

<body>
	<div class="container">
	
		<div class="page-header">
			<h1>Test <span class="text-info"><b>mustache</b></span>, version:<span id="version"></span></h1>
		</div>
	
		<pre>
http://mustache.github.io/
https://github.com/mustache/mustache.github.com
https://cdnjs.cloudflare.com/ajax/libs/mustache.js/2.2.1/mustache.min.js
http://vremenno.net/js/mustache-template-engine/
http://vremenno.net/examples/mustache-template-engine/
http://stepansuvorov.com/blog/2012/11/mustache-%D1%88%D0%B0%D0%B1%D0%BB%D0%BE%D0%BD%D0%B8%D0%B7%D0%B0%D1%82%D0%BE%D1%80/
		</pre>
		
		<div class="panel panel-primary">
			<div class="panel-heading"><h3>template</h3></div>
			<div class="panel-body" id="tmpl1">
<h1>{{header}}</h1>
{{#bug}}
{{/bug}}

{{#items}}

	{{#first}}
		<li><strong>{{name}}</strong></li>
	{{/first}}
  
	{{#link}}
		<li><a href="{{url}}">{{name}}</a></li>
	{{/link}}
	
  {{/items}}

{{#empty}}
	<p>The list is empty.</p>
{{/empty}}
			</div>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading"><h3>render HTML</h3></div>
			<div class="panel-body" id="render"></div>
		</div>
		
	</div><!-- end container -->

</body>
</html>