<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, layout=1.0">
	<title>test lodash template engine</title>
<!--	
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
-->
	<link rel="stylesheet" href="../../css/bootstrap335.min.css">
	<script src="https://cdn.jsdelivr.net/lodash/4.13.1/lodash.min.js"></script>
	

<script type="text/template" id="list-template">
<h2>generate list items</h2>
<ul>
<% for( var n = 1; n < count; n++ ) { %>
<li>
	header H<%=n%>
	<h<%=n%>>test!!!</h<%=n%>>
</li>
<% } %>
</ul>
</script>

<script>
window.onload = function(){
//console.log("onload");
	log.innerHTML +="version <b>lodash</b> " + _.VERSION;
	
	var tmpl = _.template("<span class='title'><%=title%></span>");
	var data = {
		title : "Header"
	};
console.log( tmpl(data));
	document.getElementById("content").innerHTML += tmpl( data );
	
	//--------------- generate list
	/*
	var tmpl = "<h4>generate list items</h4>\
<ul>\
<% for( var n = 1; n < count; n++ ) { %>\
<li>header H<%=n%>\
<h<%=n%>>test!!!</h<%=n%>>\
</li>\
<% } %>\
</ul>";
	document.getElementById("content").innerHTML += _.template(tmpl)( {count:7} );
	*/
	
	var tmpl = _.template( document.getElementById("list-template").innerHTML );
	document.getElementById("content").innerHTML += tmpl({count:7});
	
}//end load
</script>

</head>

<body>
	<div class="container">
	
		<div class="page-header">
			<h1>Testing template engine <a href="https://lodash.com/">lodash</a></h1>
		</div>
	
		<pre>
https://lodash.com/
https://lodash.com/docs
https://learn.javascript.ru/template-lodash
https://habrahabr.ru/post/217515/
		</pre>
		
		<div class="panel panel-primary">
			<div class="panel-body" id="log"></div>
			<div class="panel-body" id="content"></div>
			<ul class='panel-body list-inline' id="list"></ul>
		</div>
		
	</div><!-- end container -->

</body>
</html>