*.*~
projects/geolocation
projects/bookmarks/bookmarks-cache
projects/notes/.idea
projects/notes/upload/notes.xml
graphic-art-collection/cms
photoalbum/cms
video/cms
webapps/webapp_video/db/_export_video.xml
music/cms
music/player
lib/cms
_export_lib.xml
book_history_engraving/ci
book_history_engraving/cms
#book_history_engraving/export
#book_history_engraving/html
#book_history_engraving/site.gravura/arc