/*
body, html {
  height: 100%;
}
*/
body {
  background-color: 
  /*#95a496;*/
  /*#315570;*/
  /*#2c5885;*/
  /*#6aa6c0;*/
	/*#607d8b;*/
#315570;
  /*#fff;*/
  /*margin: 0;*/
  padding: 15px;
	font-size:16px;
}

.container {
  background-color: #ffffff;
	/*background-color: #abbabb;*/
	/*background-color: #5d7b94;*/
	padding: 20px;
	border-radius: 10px;
  /*
  border: 1px solid rgba(0, 0, 0, 0.15);
	box-shadow: 10px 15px 6px #999;
  */
}
.touch .container{
	/*background-color: #abbabb;*/
}

#app-title {
	/*margin: 0;*/
	font-family: hattori_hanzolight;
	/* color: #fff;*/
}
.touch #app-title{
   /*color: #000;*/
}


.log-panel{
background-color:#fff4e1;
margin-top: 5px;
/* border:1px solid #ddd; */
/*	
position: fixed;
bottom: 10px;
z-index: 9999;
*/
/*
right: 10px;
clear:both;
width: 80%;
*/
/*position: absolute;*/
	/*position:fixed;*/
}
.close {
display: block;
float: right;
left: 5px;
position: relative;
top: -10px;
}

#log{
word-break: break-all;	
}

#clear-log {
	position: relative;
	top: -9px;
	left: 9px;
}

#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -45px;
	display:none;
}

#insert-json {
	border: 1px solid #aaa;
}

#insert-json .panel-primary > .panel-heading {
	background-color: #006b9b; /*#337ab7;*/
	/*border-color: #337ab7;*/
	border-radius: 15px 15px 0 0;
}

.folder {
	float: left;
	margin: 10px;
	background: #87cefa; /*lightskyblue;*/
	/* padding: 15px; */
	padding: 10px 0;
	/* margin: 5px; */
	margin: 2px;
	border-radius: 5px;
	width: 150px;
	min-height: 100px;
	word-break: normal; /*break-all*/
	/* border: 2px outset darkblue; */
	text-align: center;
}
.folder a {
	width: 150px;
	display: block;
	height: 80px;
font-weight: bold;
font-size: 110%;
font-family: Georgia;
}

.folder2 {
	float: left;
	margin: 10px;
	background: #2C3F66;
	padding: 10px 0;
	margin: 4px;
	border-radius: 10px;
	width: 150px;
	min-height: 100px;
	word-break: normal;
	/*border: 2px outset #000000;*/
    -webkit-box-shadow: 5px 5px 5px #abc, 1px 1px 6px #bbc;
    -moz-box-shadow: 5px 5px 5px #abc, 1px 1px 6px #bbc;
    box-shadow: 5px 5px 5px #abc, 1px 1px 6px #bbc;

}
.folder2 a {
	width: 150px;
	display: block;
	/* height: 80px; */
	/*font-weight: bold;*/
	/*font-size: 110%;*/
	font-family: avantgarde;
	color: #fff;
	text-align: center;
}
.folder2 .annos {
	font-size: 80%;
	font-family: Verdana;
	padding: 5px;
	color: #ffffff;
}
.folder2:hover
{
	/*background-color: #5bc0de;*//*info*/
	background-color: #87cefa; /*lightskyblue;*/
	/*background-color: #ffa500;*/ /*orange;*/
	/*background-color: #009b9b;*/ 
	/*background-color: #cecefa;*/
	box-shadow: 0 0 5px inset;
	/*border: 2px outset #99c;*/
	/*width: 148px;*/

}
.folder2:hover a
{
	color: #2C3F66;
	/*color: #fff;*/
}


.link {
	float: left;
	border-radius: 5px;
	margin: 4px;
	padding: 10px;
	/*background-color: #e6e6fa;*//*lavender*/
	background-color: #e6e6ff;
	width: 150px;
	min-height: 100px;
	word-break: normal; /*break-all*/
	/*border: 2px outset #99c;*/
/*
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
*/
    -webkit-box-shadow: 5px 5px 5px #999, 1px 1px 6px #555;
    -moz-box-shadow: 5px 5px 5px #999, 1px 1px 6px #555;
    box-shadow: 5px 5px 5px #999, 1px 1px 6px #555;

/*box-shadow: 5px 5px silver;*/
}
.link:hover
{
/*	background-color:#a68caa;*/
	/*background-color:#cecefa;*/
	background-color:#87cefa; /*lightskyblue;*/
	/*background-color: #5bc0de;*//*info*/
	/*background: #ffa500;*/ /*orange;*/
	/*background: #006b6b;*/
	box-shadow: 0 0 5px inset;
	/*border: 2px outset #99c;*/
}

.link .annos {
	font-size: 80%;
	font-family: Verdana;
	padding: 5px;
	background: #f0ffff;
}
 
.link a {
color: #0000ff;
}

.breadcrumb-custom {
	/*background-color: #b1d0ef;*/
	background-color: inherit;
}
.breadcrumb-custom a {
	color: #fff;
}

.icon-uri {
	width: 24px;
	/* height: auto; */
	margin: 3px;
}




/* fix Bootstrap */
header .nav-tabs .btn:hover {
	background: orange;
}
header .nav-tabs .btn:focus {
	background: orange;
}

.nav-tabs {
	/* border-bottom: transparent; */
	margin-bottom: 10px;
}

.alert {
	margin-bottom: 5px !important;
	padding: 7px !important;
}
.panel-primary {
	border-color: transparent;
}
