@charset "utf-8";
@import url("reset.css");

html, body{
height:100%;
margin:0;
padding:0;
}

body {
	/*background-color: #055c80;*/
	/*background-color: #315570;*/
	/*background-color: #094546;*/
	background-color: #004359;
}

header, nav, section, article, aside, footer { display: block}

/* `Clear Floated Elements
----------------------------------------------------------------------------------------------------*/
.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0
}
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0
}
.clearfix:after {clear: both}


.btn {
	/* position: relative; */
	display: inline-block;
	color: #fff;
	margin: 3px;
	/* line-height: 1.2em; */
	/* font-weight: bold; */
	/* font-size: 12px; */
	text-decoration: none;
	/* vertical-align: middle; */
	padding: 10px;
	/* font-family: Tahoma, Geneva, sans-serif; */
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0 36px 38px -38px #fff;
	-moz-box-shadow: inset 0 36px 38px -38px #fff;
	box-shadow: inset 0 36px 38px -38px #fff;
	background-color: #008b8b;
}



/*==========================================*/
.container {
	width: 80%;
	margin: auto;
}

.header {
	/*height: 5%;*/
	/* border: 1px solid; */
	padding: 1px;
	/*background-color: #e6e6fa;*/
}


.header h1 {
	text-align: left;
	padding: 10px;
	/* margin: 0; */
	color: #9c9;
	font-size: 110%;
}

.header h3 {
	text-align: right;
	padding: 0;
	color: #9c9;
}

.main {
	height: 80%;
/*overflow: hidden;*/
	/* border: 1px solid; */
	/* padding: 5px; */
	/* clear: both; */
}


.sidebar{
	float: left;
	/* border: 1px solid; */
	width: 20%;
	height: 100%;
}
.sidebar-left {
	/*background-color: #e6e6fa;*/
	background-color: #b0e0e6;
}
.sidebar-right {
	width: 40%;
	/*background-color: #e6e6fa;*/
	background-color: #b0e0e6;
}
.content {
	float: left;
	/* border: 1px solid; */
	/*background-color: lightskyblue; lavender*/
	/*background-color: #e6e6fa;*/
	background-color: #b0e0e6;
	width: 60%;
	height: 100%;
	/* padding: 5px; */
}

.footer {
	height: 10%;
	/* border: 1px solid; */
	/* padding: 5px; */
	background-color: #e6e6fa;
}



.wrapper {
/*	margin: 5px;*/
}
.footer .wrapper {
	margin: 0 5px 0 5px;
	/* height: 100%; */
	padding-top: 10px;
}

.panel {
	background-color: #fff;
/*	width: 100%;*/
/*	max-height: 90%;*/
	margin: 5px;
	padding: 10px;
word-wrap: break-word;
/*word-break: break-all;*/
}

pre {
	margin: 0;
}

.menu .wrapper {
padding: 10px;
}

.menu ul {
	list-style: none;
padding: 5px 1px 1px 1px;
	margin: 0;
	/* display: block; */
	/* width: 100%; */
	text-align: center;
}

.menu ul li {
	display: inline;

	/* width: 30%; */
	font-size: 150%;
	margin: 5px;
	background-color: dodgerblue;
padding: 0 10px;
text-align:center;
border-radius: 3px;
}
.menu ul li:hover {
	background-color: deepskyblue;
}

.menu a {
	text-decoration: none;
	color: lightblue;
	font-family: Arial,Verdana;
	/* font-weight: bold; */
}
.menu a:hover {
	color: #fff;
}

@media all and (max-width:1600px){
	.container {
		width: 95%;
	}
	.panel-img, .panel-filters {
		float: none !important;
		width: 100%  !important;
	}
}


@media all and (max-width:1200px){

	.main {
		height: auto;
	}

	.sidebar-left {
		float: none;
		/*display:none;*/
		width: 100%;
		height: auto;
	}
	.content {
		float: none;
		width: 100%;
	}
	.sidebar-right {
		float: none;
		/*display:none;*/
		width: 100%;
		height: auto;
	}

	.menu ul li {
		font-size: 110%;
	}
}

/*================================*/
.w10{
	width:10%;
}
.w20{
	width:20%;
}
.w25{
	width:25%;
}
.w30{
	width:30%;
}
.w33{
	width:33%;
}
.w50{
	width:50%;
}
.w60{
	width:60%;
}
.w65{
	width:65%;
}
.w70{
	width:70%;
}
.w80{
	width:80%;
}
.w90{
	width:90%;
}

.row {
	/* float: none; */
	clear: both;
	overflow: hidden;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.text-right{
text-align:right;
}
.text-center{
text-align:center;
}
/*================================*/







.window {
	overflow: hidden;
	width: ;
/*	background:url('../images/bum2_st.jpg') repeat;*/
	padding: 3%;
	margin: auto auto;
	border-radius:14px;
	-webkit-border-radius:14px;
	-moz-border-radius:14px;
}
.window a.rapport,.window div.rapport {
	/*box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
	-moz-box-shadow: 0px 0px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0px 0px 4px rgba(0,0,0,0.1);*/

border: 3px solid #CCCCCC;
display: block;
float: left;
margin: 2px 1px;
max-width: 700px;
	
}
.window p {
	padding:7px;
	margin:0;
}
.interior {
	height:376px;
}
.w530 {
	width:530px !important;
	margin:0 auto !important;
}



.interior-pics img{
	border:2px #cCC solid;
	display: block;
	float:left;
	margin:1px;
	padding: 7px;
}


.interior-pics img:hover{
	border:2px #00d3df solid;
}


.interior-pics {
display: block;
float: right;
margin-left: 5px;
position: relative;
width: 250px;
z-index: 2;
}

#target {
/*   cursor: url(../images/zoom2.png), auto;*/
	width:100%;
}


.option {
	/* width: 277px; */
	/* display: inline-block; */
	vertical-align: top;
	border: 1px solid #708090;
	/* position: relative; */
	text-align: center;
	padding: 10px;
	margin: 10px;
	background-color: #f0f3f6;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}




.im-product {
	#width:653px;
	#height:365px;
	position:relative;
}
.im-product img {
	border:2px #00d3df solid;
	#width:653px;
	#height:365px
}
.im-product span {
	display:block;
	position:absolute;
	left:0;top:0;

}


select, .selectBox {
width:100%;
height: 45px;

	display: inline-block;
	vertical-align:middle;
	color:#000;
/*
	font-size:14px;
	font-weight:bold;
	font-family:Tahoma, Geneva, sans-serif;
*/
	position: relative;
	z-index: 999;
	/*height: 25px;*/
	/*line-height: 25px;*/
	margin: 0;
	padding: 0 2px 0 6px;
	white-space: nowrap;
	text-align: left !important;
	text-decoration: none;
	outline: none;
	background-color: #fff;
	border:1px solid #c9c9c9 !important;

	-webkit-border-top-left-radius:2px;
	-webkit-border-bottom-left-radius:2px;
	-webkit-border-radius:2px 0 0 2px;
	-moz-border-top-left-radius:2px;
	-moz-border-bottom-left-radius:2px;
	-moz-border-radius:2px 0 0 2px;
	border-radius:2px 0 0 2px;
}

/*
.tem .selectBox {max-width:140px}

.selectBox.fnt {
	font-size:16px;
	font-weight:normal;
	color:#218e9e;
}
.selectBox:hover {
	text-decoration: none
}
.selectBox-label {
	padding:0 4px;
	margin:0
}
.selectBox-arrow {
	position: absolute;
	left: auto;
	right:-1px;
	top: -1px;
	width: 21px;
	height: 27px;
	overflow: hidden;
	cursor: pointer;
	background: url(../images/bg-icon.png) -122px -56px no-repeat;
}
.selectBox-dropdown-menu {
	position: absolute;
	z-index: 999999;
	list-style: none;
	font-size: 14px;
	line-height:14px;
	background: #fff;
	margin:-1px 0 0 0;
	padding:3px 0;
	border:1px solid #e6e6e6;
	border-top:0
}
.selectBox-dropdown-menu li {
	display: block;
}
.selectBox-dropdown-menu li a {
	display: block;
	padding: 2px 2px 2px 12px;
	color: #666;
	text-decoration: none;
	cursor: pointer;
}
.selectBox-dropdown-menu li a:hover {
	text-decoration: none;
	background:#e3dfdf
}
*/


.option header {
background-color: #008b8b;
	/* border-bottom: 1px solid #E1E1E1; */
	color: #fff;
	#font-family: 'ds_gooseregular';
	/* font-family: 'Philosopher', sans-serif; */
	font-size: 100%;
	/* height: 25px; */
	/* line-height: 25px; */
	margin-bottom: 10px;
padding: 5px;
	/* overflow: hidden; */
	text-align: center;
	white-space: nowrap;
}


.transform-class
{
-moz-transform: matrix(-1, 0, 0, 1, 0, 0); /* Для Firefox */
-ms-transform: matrix(-1, 0, 0, 1, 0, 0); /* Для IE */
-webkit-transform: matrix(-1, 0, 0, 1, 0, 0); /* Для Safari, Chrome, iOS */
-o-transform: matrix(-1, 0, 0, 1, 0, 0); /* Для Opera */
transform: matrix(-1, 0, 0, 1, 0, 0);
/*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";*/
}

#interior-wall
{
max-width:100%;
margin-top: 18px;
}
#interior
{
position: relative;
top: -320px;
/*top: -341px;*/
z-index: 1006;
}
#interior-design-wall
{
position: relative;
top: 0;
z-index: 1006;
cursor: default;
}
#interior-preview
{
height: 377px;
/*height: 608px;*/
overflow: hidden;
}
#interior-preview img
{
/*
margin-top: -214px;
width: 530px;
*/
}
.wrap-interior-img
{
height:321px;
overflow:hidden;
}

.grayscale
{
	/*filter: grayscale(100%);*/
	/*filter: url(filters.svg#grayscale);*/ /* Firefox 3.5+ */
	/*filter: gray;*/ /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Google Chrome & Safari 6+ */
}
.sepia
{
	-webkit-filter: sepia(100%); /* Google Chrome & Safari 6+ */
}

#product-texture
{
display:none;
/*position: relative;*/
position: absolute;
z-index: 1000;
/*cursor: pointer;*/
}
#addtocart-decor-wallpapers #product-texture
{
position: absolute;
}

#interior-texture
{
/*width: 560px;*/
height: 320px;
margin-top: -320px;
position: relative;
top: 0;
z-index: 1005;
}
.shop-decor-design #interior-texture
{
top: 320px;
width: 535px;
}

.jcrop-tracker
{
cursor:pointer !important;
}



#guides-block
{
position:relative;
z-index: 1000;
}
.guides {
  border-left: 2px dashed #000000;
  position: absolute;
  width: 2px;
  height:320px;
  z-index: 1000;
}

#wall-block
{
border: 2px solid #00D3DF;
height: 320px;
left: 1px;
margin-top: -642px;
position: relative;
top:0;
width: 566px;
z-index: 1010;
cursor:pointer;
}


#crop-link
{
margin-top: 3px;
}
/*-----------------------------------------------------------------------------*/



#large-img
{
display: block;
min-height: 320px;
min-width: 320px;
/*
height: 320px;
overflow: hidden;
*/
}

@media screen and (-webkit-min-device-pixel-ratio:0) /* only Webkit */
{
/*
	#show-cart-next
	{
	position:relative;
	left:-10px;
	}
*/
}



.im-product {
  /*background: #C0C0C0;*/
 /* min-height: 320px;*/
  width: 568px;
}





/*---------------------------------------------------------*/
.slidingVisual 
{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #C3C3C3;
margin: auto;
padding: 5px;
width: 845px;
}
.slidingVisual .simplemodal-close, 
.select_tov .simplemodal-close 
{
background: url("../images/x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
cursor: pointer;
display: inline;
height: 29px;
position: absolute;
right: -8px;
top: -10px;
width: 25px;
z-index: 3200;
}
#hidedrapport
{
left: -5px;
position: relative;
top: 10px;
}

.select-tov-modal {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 7px;
  margin: 0 0 7px;
  padding: 7px 14px;
  position: fixed;
  right: 15px;
  top: 100px;
  width: 285px;
  z-index:8041;
}
.select-tov-modal .help-text
{
display:none;
}
.select_tov .texture-close-btn
{
display:none;
}
.select-tov-modal .texture-close-btn
{
background: url("../images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: block;
float: right;
    height: 25px;
    width: 25px;
}

.modal-save-image-btn
{
display:none;
cursor:pointer;
}

#simplemodal-container
{
z-index:8011 !important;
}



#zoom-link {
	background: url("../images/zoomplus.png") no-repeat scroll 0 0 / 30% auto rgba(0, 0, 0, 0);
	display: block;
	/* float: right; */
	height: 128px;
	left: 0;
	margin-bottom: -128px;
	position: relative;
	top: 50px;
	width: 128px;
}



#slider-range, #slider-ui {
/*background: url("../images/bg-ui-widget.png") no-repeat scroll 50% 0 rgba(0, 0, 0, 0);*/
margin: 0 auto;
padding: 5px 0 15px;
width: 266px;
}

#amount, #amount-ui {
	/* border: 2px solid #BCDDE2; */
	/* border-radius: 8px; */
	/* color: #218E9E; */
	/* font-family: 'Conv_segoeprb'; */
	/* font-size: 14px; */
	margin: 5px;
	padding: 0;
	/* width: 225px; */
}

.ui-widget-header {
	border: 1px solid #dddddd;
	background: #008b8b !important;
	-webkit-box-shadow: inset 0 36px 38px -38px #fff;
	-moz-box-shadow: inset 0 36px 38px -38px #fff;
	box-shadow: inset 0 36px 38px -38px #fff;
}

.ui-slider-horizontal {
	height: 100% !important;
}
.ui-slider-horizontal .ui-slider-handle {
	top: -2px !important;
}


