BODY  {color:      #ffffff;
      background:  #83A0C5;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size:   10pt;
      font-weight: bold}


A:link	{color: gold; font-weight: bold; FONT-SIZE: 10pt;
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	 text-decoration: none;}
A:visited {color: gold; font-weight: bold; FONT-SIZE: 10pt;
           FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
           text-decoration: none;}
A:hover	{color: white; font-weight: bold; FONT-SIZE: 10pt;
		 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
		text-decoration: none;}

td {padding-left:5pt; 
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size:   10pt;
      font-weight: bold}

.topmenu_table {color: yellow;
      background: darkblue;
      margin-left:0mm; margin-top:0mm;
      cursor: hand;}


.error {color: gold;
      background: maroon;
      position: absolute; top:10px; left:50%;
      border-style:solid;
      border-color:white;
      border-width:thin;
      margin:2mm;
      padding:2mm;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size:  10pt}

.success {color: gold;
      background: green;
      position: absolute; top:10px; left:50%;
      border-style:solid;
      border-color:white;
      border-width:thin;
      margin:2mm;
      padding:2mm;
      font-family: Verdana, Arial, Helvetica, sans-serif;
      font-size:  10pt}
