a
{
	text-decoration:none;
}
a.title
{
	color:#000000;
	font-style:normal;
}

#left,
#center,
#right
{
	float:left;
}

#wrapper
{
	width:1015px;
	/*width:760px;*/
	margin:auto;
	padding:10px;
	border:0px solid;
	/*background:#cccca0;*/
	/*background:#404050;*/
	/*background:#A7ADBC;*/
	background:#abbabb;
}

#header
{
/*
	height:80px;
	border:1px solid;
	background:#cccccc;
*/
}
#footer
{
/*
	height:80px;
	border:1px solid;
	background:#cccccc;
*/
}
#header h1,
#footer h1
{
	text-align:center;
}
.line
{
	border:7px double;
}

#left
{
/*
	width:20px;
	border:0px solid;
	float:left;
	margin:5px;
*/
}
#navigation
{
	border:1px solid;
	margin:10px;
	/*padding:10px;*/
	padding: 10px 10px 20px;
	background:#ffffff;
}
#center
{
	border:0px solid;
	/*float:left;*/
	margin-top:10px;
	margin-bottom:10px;
	width:100%;
	background:#e6eaec;
	/*background:#ffffff;*/
	/*background:#bebebe;*/
	/*background:#D3C5BE;*/
	/*background:#CCCCBF;*/
}
#right
{
/*
	width:20px;
	border:0px solid;
	float:right;
	margin:10px;
*/
}


.img-container
{
	float:left;
	text-align:center;
	/*margin:10px;*/
}

.img-container .img_title
{
	width:220px;
	text-align:center;
	overflow:hidden;
}
.img_title a
{
	font-style:italic;
}

.img_title_category
{
	width:200px;
	text-align:center;
	overflow:hidden;
}

.picture
{
/*
	width:150px;
	height:200px;
*/
	margin:10px;
	padding:10px;
	border:1px solid;
	background:#ffffff;
	/*box-shadow: 5px 5px silver;*/
	box-shadow: 5px 5px silver;

}
.picture:hover
{
	box-shadow: 0 0 5px inset;
}

.picture_h100
{
	/*width:100px;*/
	height:100px;
	border:1px solid;
	padding:5px;
	background:#ffffff;
}
.h100
{
	max-width:100px;
	margin:10px;
}
.large
{
/*
	margin:auto;
	width:220px;
	height:250px;
	border:1px solid;
*/
	max-width:250px;
	min-height: 250px;
	/*text-align:center;*/
}

.large .picture
{
	min-height: 250px;
}
.large .picture img
{
	max-width:210px;
}

.large-picture img
{
	max-width:730px;
}

.album_title,
.image_title
{
	text-align:center;
	
}
.pager a
{
	/*float:left;*/
	/*list-style:none;*/
	margin:5px;
}

/*-------------------------------------------*/
#navigation-elements
{
	float:right;
}

.pages
{
/*
    margin: auto;
    width: 735px;
    width: 600px;
*/
    border: 0px solid;
    margin: 0 auto;
}

#page-even
{
	float:left;
	margin:10px;
	/*width:48%;*/
	width:65%;
}
#page-title
{
	margin-left:10px;
}

#page-even-content
{
	border:0px solid;
}

#page-odd
{
	/*border:1px solid;*/
	float:right;
	/*float:left;*/
	margin:10px;
	/*width:48%;*/
}
#page-odd-title
{
}

#navigation .content-link
{
	position:relative;
	top:5px;
}

#navigation-elements
{
	display:none;
}


#navigation-elements .list-pages
{
	float:left;
	margin-right:20px;
	margin-top:5px;
}
#navigation-elements .form-num-page
{
	float:left;
}

/*--------------------TEXT --------------------------------------------*/
p
{
	text-align: justify;
}

.notes
{
/*
	font-style:italic;
	font-family: Times New Roman;
	font-size:18px;
*/
    color: #006600;
    font-family: Arial;
    font-size: 16px;
    font-style: italic;
    padding: 9px;
}

.termin
{
    /*color: red;*/
	font-family: Arial;
	font-weight:bold;
	font-style: italic;
	font-weight:bold;
}

.name
{
    /*color: green;*/
	font-family: Arial;
	font-weight:bold;
	font-style: italic;
	color: maroon;
}

.picture_text
{
	/*font-family: Trebuchet MS;*/
	font-family: Arial;
	font-weight:bold;
	font-style: italic;
	color: darkblue;
}
/*---------------------------------------------------------------------*/

