BODY  {color:      #83A0C5;
      background:  #404050;
      font-size:   10pt}


A:link	{color: #000080; font-weight:  bold; 
	 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	 text-decoration: none;}
A:visited {color: blue; font-weight:  bold; 
           FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
           text-decoration: none;}
A:hover	{color: maroon; font-weight: bold; 
		 FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
		text-decoration: none;}

A.left:link	{color: orange; font-weight: bold; FONT-SIZE: 8pt;}
A.left:visited {color: orange; font-weight: bold; FONT-SIZE: 8pt;}
A.left:hover	{color: gold; font-weight: bold; FONT-SIZE: 8pt;}

td.a {color: #FFFFFF;
      background: #5E789C;
      border-style:solid;
      border-color:white;
      border-width:thin;
      padding-left:20pt; 
      font-weight: bold}                              


td.b {color: #000080;
      background: #D3C5BE;
      border-style:solid;
      border-color:#404050;
      border-width:thick}


td.c {color: #FFFFFF;
      background: #5A5963}                              

td.e {color: gold;
      font-size:  8pt}


