<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<directoryBrowse enabled="true" showFlags="Extension, Size" />
	
		<!--<directoryBrowse enabled="true" /> -->
			<!--<customErrors mode="RemoteOnly"/> -->
			<!-- <customErrors mode="Off"/> -->
<!--
		<defaultDocument enabled="true">
			<files>
				<add value="Index.html" />
			</files>
		</defaultDocument>
-->
	</system.webServer>
</configuration>