body, html {
     height: 100%;
}

body {
     background: #c9c6d3 none repeat scroll 0% 0%;
}

a {
     color: #0b71f1;
     text-decoration: none;
}

.bg-header {
     background: #45557a none repeat scroll 0% 0%;
     color: #ffffff;
     height: 85px;
}

.bg-header a.title {
     color: #ffffff;
     font-size: 130%;
     font-style: normal;
}
@media screen and (max-width:605px) { 
    .bg-header a.title {
         font-size: inherit;
    }
}
@media screen and (max-width:495px) { 
    .bg-header a.title {
         font-size: 90%;
    }
}
@media screen and (max-width:450px) { 
    .bg-header a.title {
         font-size: 85%;
    }
}
@media screen and (max-width:439px) { 
    #sitename-block {
         display: none;
    }
    .bg-header .col-xs-9 {
      width: 100%;
    }    
}
@media screen and (min-width:440px) { 
    #sitename-block {
         display: block;
    }
}

.b-header .grad, .b-footer .grad {
     height: 100%;
     width: 50px;
}

.b-header .fix1 {
    /*
     margin-left: -25px;
     margin-right: -25px;
     padding-left: 35px;
    */
}



/*
@media screen and (max-width: 670px) {
  .navbar { display: block !important; }
  #right-side { display: none; }
}
@media screen and (min-width: 671px) {
  #right-side { display: block; }
}
*/

.navbar {
  margin-bottom: 1px;
  margin-top: 1px;
}
@media screen and (min-width: 991px) {
    .navbar {
        min-height: 0;
      /*position: static;*/
        margin-bottom: 0;
        margin-top: 0;
    }
}

#right-side {
position: absolute;
right: 0;
top: 10px;
float:none;
}
@media screen and (max-width: 990px) {
  #right-side { position: static; }
    #right-side .panel-body { float:left};

}
/*https://coderwall.com/p/wpjw4w/change-the-bootstrap-navbar-breakpoint */
@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.b-footer {
     background: #45557a none repeat scroll 0px 0px;
     color: #ffffff;
     height: 40px;
}

.b-footer .fix1 {
     margin-left: -25px;
     margin-right: -25px;
     padding-left: 35px;
}

.lib-wrapper{
  height: 100%;
}

.b-content {
     background-color: #ffffff;
     /*height: 85%;*/
     min-height: 85%;
}

.b-content .fix1 {
    /*
     margin-left: -35px;
     margin-right: -25px;
     padding-left: 30px;
    */
}

.b-content .grad {
     height: 100%;
     width: 50px;
}

.grad .columns {
     width: 50%;
}

.b-content .grad .left-grad {
     background: rgba(0, 0, 0, 0) linear-gradient(to right, #ffffff -30%, #aaaaaa 100%) repeat scroll 0% 0%;
     height: 100%;
}

.b-content .grad .right-grad {
     background: rgba(0, 0, 0, 0) linear-gradient(to right, #aaaaaa 0%, #ffffff 130%) repeat scroll 0% 0%;
     height: 100%;
}

.b-header .grad .left-grad, .b-footer .grad .left-grad {
     background: rgba(0, 0, 0, 0) linear-gradient(to right, #45557a 0%, #021838 100%) repeat scroll 0% 0%;
     height: 100%;
}

.b-header .grad .right-grad, .b-footer .grad .right-grad {
     background: rgba(0, 0, 0, 0) linear-gradient(to right, #021838 0%, #45557a 100%) repeat scroll 0% 0%;
     height: 100%;
}

#block-taxonomy-alpha {
     margin-top: 10px;
}

#block-taxonomy-alpha .menu {
     margin: 0px;
     padding: 0px;
     text-align: right;
}

#block-taxonomy-alpha ul li {
     display: inline-block;
     padding: 2px;
}

#block-taxonomy-alpha ul li a {
     color: #ffffff;
}

#main-book-content {
/*     display: none;*/
}

.book-content .book a, .book-content .author a {
     background-color: #238f11;
     color: #ffffff;
     display: block;
     margin: 3px;
     padding: 5px;
border-radius: 3px;
}

.book, .library_book {
     list-style: outside none none;
}

.book-content .library_book a {
     color: #0000ff;
}

.submenu {
     margin: 0px;
     padding: 0px;
}

#view-node-content {
     display: none;
     padding-left: 15px;
}

.bookname {
     font: bold 1.5em Arial;
}

.breadcrumb {
     margin: 0px;
}

.breadcrumb-last-item {}
