<!DOCTYPE html>
<html lang="ru" debug="true">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- <link rel="stylesheet" href="../../css/bootstrap335.min.css"> -->
	<!-- <link rel="stylesheet" href="css/bootstrap337.min.css"> -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	
	<title>Browser info</title>
	

<!--
<script src="http://code.jquery.com/jquery-1.1.js"></script>
	<script>
//$(document).ready(function(){
//alert('Ready!');

//});
	</script>
-->

<!--
<script type="text/javascript" src="http://getfirebug.com/firebug-lite-debug.js"></script>
<script type="text/javascript" src="http://getfirebug.com/firebug-lite.js"></script>
<script src="lib/firebug-lite/build/firebug-lite.js"></script>
-->
<!--
<script>
	//https://getfirebug.com/firebuglite	
	if ('ontouchstart' in window){
		var script = document.createElement('script');
		script.src = "lib/firebug-lite/build/firebug-lite.js";
		//document.body.appendChild( script );
		document.getElementsByTagName('head')[0].appendChild(script);

		script.onload = function() {
//alert( "onload " + this.src);
		};
		script.onerror = function(e) {
//alert( "error load script " + this.src);
		};  
	}
</script>
DOM-shim-ie8.js
DOM-shim.js
es5-shim.js
es5-sham.js
<script src="/source/js/lib/DOM-shim.js"></script>
<script src="/source/js/lib/css3-mediaqueries.js"></script>
-->


<script>
/*
var timerId = null;
var counter = 0;

function countFunc(){
	counter++;
	var msg = counter + " sec.";
	_log("", "counter");
	_log(msg, "counter");
}//end countFunc()	
*/

function _log( msg, id){
//console.log(arguments);
//alert(arguments.length);
//		for( var n = 0; n < arguments.length; n++){
//			var _s = "<li> arguments." + n +" = "+ arguments[n] + "</li>";
//alert( _s );
//		}
	var id = id || arguments[1];//IE4 fix
//alert( msg );
//alert( id );

	if(!id){
		var id = "log";
	}
	
	var output = getDOMobj(id);
	if( output ){
	
		//if( msg.length == 0){
		if( !msg || msg.length == 0){
			output.innerHTML = "";
		} else {
			output.innerHTML += msg;
		}
		
	} else {
		alert(msg);
		//document.writeln(msg);
	}
	
}//end _log()

function getDOMobj(id){
	
	if( document.querySelector ){
		var obj = document.querySelector("#"+id);
		return obj;
	}
	
	if( document.getElementById ){
		var obj = document.getElementById(id);
		return obj;
	}
	
	if( document.all ){
		var obj = document.all[id];
		return obj;
	}
	
	//if( document.layers ){
		//var obj = document.layers[id];
		//return obj;
	//}
	
	return false;
}//end getDOMobj()

function _push( ar, item){
	if( ar.push ){
		ar.push(item);
	} else {
		var num = ar.length;
		ar[num] = item;
	}
}// end _push()

function viewProp( obj ){
//console.log(arguments);
	_log( "", "info");
	for( var prop in obj ){
//console.log(prop, obj[prop]);
		var _type = typeof obj[prop];
		switch( _type ){
		
			case "object":
				var childObj = obj[prop];
				var msg = "<li>" + prop +" : "+ typeof childObj;
				//msg += ", <a href='#' onClick='viewProp("+childObj+");'>+</a>";
				msg += "</li>";
				_log( msg, "info");
			break;
			
			case "function":
				var msg = "<li>" + prop +" : "+ typeof obj[prop] + "</li>";
				_log( msg, "info");
			break;
			
			default:
				var msg = "<li>" + prop +" = "+ obj[prop] + "</li>";
				_log( msg, "info");
			break;
		}//end switch
	}
}//end viewProp()


window.onload = function(){

//	var btn = document.createElement("input");
//	btn.setAttribute("type","button");
//	btn.setAttribute("value", "test");
//console.log(btn);
				
	var ua = getDOMobj("ua");
	if( ua ){
		var tpl = ua.innerHTML;
		var html = tpl
		.replace("{{userAgent}}", navigator.userAgent);
		//.replace("{{product}}", navigator.product)
		//.replace("{{appCodeName}}", navigator.appCodeName)
		//.replace("{{appName}}", navigator.appName)
		//.replace("{{appVersion}}", navigator.appVersion)
		//.replace("{{appMinorVersion}}", navigator.appMinorVersion)
		//.replace("{{cookieEnabled}}", navigator.cookieEnabled)
		//.replace("{{language}}", navigator.language)
		//.replace("{{systemLanguage}}", navigator.systemLanguage)
		//.replace("{{userLanguage}}", navigator.userLanguage)
		//.replace("{{onLine}}", navigator.onLine)
		//.replace("{{platform}}", navigator.platform)
		//.replace("{{cpuClass}}", navigator.cpuClass)
		//.replace("{{oscpu}}", navigator.oscpu);
		ua.innerHTML = html;
	}
	
//------------------------------------ screen, page size
//http://hashcode.ru/questions/243682/javascript-%D0%BF%D0%BE%D0%BB%D1%83%D1%87%D0%B5%D0%BD%D0%B8%D0%B5-%D1%80%D0%B0%D0%B7%D1%80%D0%B5%D1%88%D0%B5%D0%BD%D0%B8%D1%8F-%D1%8D%D0%BA%D1%80%D0%B0%D0%BD%D0%B0

	var logMsg = "<ul><li><b>window.screen.width</b>: "+window.screen.width+"</li><li><b>window.screen.height</b>: "+window.screen.height+"</li><li><b>window.innerWidth</b>: "+window.innerWidth+"</li><li><b>window.innerHeight</b>: "+window.innerHeight+"</li><li><b>window.outerWidth</b>: "+window.outerWidth+"</li><li><b>window.outerHeight</b>: "+window.outerHeight+"</li><li><b>window.screen.availWidth</b>: "+window.screen.availWidth+"</li><li><b>window.screen.availWidth</b>: "+window.screen.availWidth+"</li></ul>";
		
	logMsg += "<ul><b>Explorer 6 Strict Mode</b><li><b>document.documentElement.clientWidth</b>: "+document.documentElement.clientWidth+"</li><li><b>document.documentElement.clientHeight</b>: "+document.documentElement.clientHeight+"</li></ul>";
	
	logMsg += "<ul><b>other Explorers</b><li><b>document.body.clientWidth</b>: "+document.body.clientWidth+"</li><li><b>document.body.clientHeight</b>: "+document.body.clientHeight+"</li></ul>";
	
	_log( logMsg, "info");

//console.log("navigator.plugins, raw output");	
//for( var item in navigator.plugins){
//console.log(item , navigator.plugins[item]);	
//}	

//console.log("navigator.mimeTypes, raw output");	
//for( var item in navigator["mimeTypes"]){
//console.log(item , navigator["mimeTypes"][item]);	
//}	

//console.log("window.XMLHttpRequest, raw output");	
//console.log(typeof window.XMLHttpRequest);	
//console.log(window.XMLHttpRequest.length);	
//for( var item in window.XMLHttpRequest){
//console.log(item + " : "+ window.XMLHttpRequest[item]);
//}	

//---------------------------------

	var btn1 = getDOMobj("btn1");
	btn1.onclick = function(event){
        event = event || window.event; //window.event, for old IE
		event_target = event.target || event.srcElement; //srcElement, for old IE

		_log( "", "info");

		var startDate = new Date();
//_log( "startDate = " + startDate);
		var html = runTests();
		_log( html, "info");
		
		var endDate = new Date();
//_log( ", endDate = " + endDate);
		var runTime = (endDate - startDate) / 1000;
_log( "runTests(), runTime = " + runTime + " sec.<br>");

	}//end event

	var btn2 = getDOMobj("btn2");
	btn2.onclick = function(event){
        event = event || window.event; //window.event, for old IE
		event_target = event.target || event.srcElement; //srcElement, for old IE

		//for( var prop in event){
			//var msg = "<li> e." + prop +" = "+ event[prop] + "</li>";
			//_log( msg);
		//}
		
		_log( "", "info");
		var startDate = new Date();
//_log( "startDate = " + startDate);

		var msg = "<h1>Document</h1>";
		_log(msg, "info");
		
		_log("<h3>lastModified: " + document.lastModified + "<h3>", "info");
		
		for( var prop in document){
			var msg = "<li> document." + prop +" = "+ document[prop] + "</li>";
			_log( msg, "info");
		}
		
/*
		_log("<h3>document.body<h3>", "info");
		for( var prop in document.body){
			var msg = "<li> document.body." + prop +" = "+ document.body[prop] + "</li>";
			_log( msg, "info");
		}
*/
		var endDate = new Date();
//_log( ", endDate = " + endDate);
		var runTime = (endDate - startDate) / 1000;
_log( "Document info, runTime = " + runTime + " sec.<br>");
		
	}//end event
	
	
	//addEventListener / attachEvent (IE)
	//var msg = "";
	var btn3 = getDOMobj("btn3");
	if ( btn3.addEventListener ){
//alert( "addEventListener " + btn3.addEventListener);	
		//msg = "Use addEventListener...";
		btn3.addEventListener( "click", btn3_click, false);
	} else {
	
//alert("attachEvent " + btn3.attachEvent);	
		if( btn3.attachEvent ){
			//msg = "Use attachEvent...";
			btn3.attachEvent( "onclick", btn3_click);
		} else {
//var msg = "Use onclick...<br>";
//_log(msg);
			btn3.onclick = btn3_click;
		}
	}//end event		

	
	var btn4 = getDOMobj("btn4");
	if ( btn4.addEventListener ){
//alert( "addEventListener " + btn4.addEventListener);	
		btn4.addEventListener( "click", btn4_click, false);
	} else {
	
//alert("attachEvent " + btn3.attachEvent);	
		if( btn4.attachEvent ){
			btn4.attachEvent( "onclick", btn4_click);
		} else {
			btn4.onclick = btn4_click;
		}
	}//end event

	var btn5 = getDOMobj("btn5");
	btn5.onclick = function(){
		btn5_click();
	}//end event
	
};//end load


function btn3_click(event){
	event = event || window.event; //window.event, for old IE
	event_target = event.target || event.srcElement; //srcElement, for old IE
	
	_log( "", "info");
	var startDate = new Date();
//_log( "startDate = " + startDate);

	var msg = "<h1>Navigator</h1>";	
	_log(msg, "info");
//console.log(msg);	
		
	for( var item in navigator){
		msg = "<li> navigator." + item +" = "+ navigator[item] + "</li>";
		_log( msg, "info");
	}	
	
	var endDate = new Date();
//_log( ", endDate = " + endDate);
	var runTime = (endDate - startDate) / 1000;
_log( "Navigator info, runTime = " + runTime + " sec.<br>");
	
}//end btn3_click()

function btn4_click(event){
	event = event || window.event; //window.event, for old IE
	event_target = event.target || event.srcElement; //srcElement, for old IE

	//var interval = 1;//sec
	//timerId = setInterval("countFunc()", interval*1000 );
//_log("start process<br>");
	
	_log( "", "info");
	var startDate = new Date();
//_log( "startDate = " + startDate);
	
	var msg = "<h1>Window</h1>";
	_log(msg, "info");
	
	_log("<h3>window.TouchEvent: " + window.TouchEvent + "<h3>", "info");
	_log("<h3>window.ontouchend: " + window.ontouchend + "<h3>", "info");
	_log("<h3>window.ontouchcancel: " + window.ontouchcancel + "<h3>", "info");
	
	viewProp( window );
	
	var endDate = new Date();
//_log( ", endDate = " + endDate);
	var runTime = (endDate - startDate) / 1000;
_log( "Window info, runTime = " + runTime + " sec.<br>");

	//setTimeout(function(){
	//counter = 0;
	//clearInterval(timerId);
	//_log("", "counter");
//_log("stop process<br>");
	//}, 5000)
	
}//end btn4_click()


function btn5_click(){
}//end btn5_click()


function runTests(){

	var tests = [];

	if ( !tests.push ){ 
		var test = {
			"name" : "array.push()",
			"result" : false,
			"msg" : "Your browser does not support <b>method push()</b>"
		};
		
		_push( tests, test );
	};

//--------------------------------------
//alert(!window.console);
	if (!window.console){ 
		var test = {
			"name" : "console",
			"result" : false,
			"msg" : "Your browser does not support <b>console.log</b>"
		};
		
		_push( tests, test );

		window.console = {
			"log" : function( msg ){
				var log = getDOMobj("log");
				if(log){
					log.innerHTML += "<p>" + msg +"<p>";
				} else {
					alert(msg);
					//document.writeln(msg);
				}
			}
		}

	};

//--------------------------------------
	var test = {
		"name" : "try detect mobile device",
		"result" : false, 
		"msg" : "test navigator.userAgent.match(/Mobi/"
	};
	if ( navigator.userAgent.match(/Mobi/) ) {
		test["result"] = true;
	}
	_push( tests, test );

//--------------------------------------
	var test = {
		"name" : "try detect mobile device",
		"result" : false, 
		"msg" : "test (ontouchstart || maxTouchPoints || msMaxTouchPoints)"
	};
//	if( (navigator.maxTouchPoints > 0) || 
//			(navigator.msMaxTouchPoints > 0) ){
//		test["result"] = true;
//		test["msg"] = "maxTouchPoints > 0 || msMaxTouchPoints > 0";
//	}

	if( ('ontouchstart' in window) ||
		(navigator.maxTouchPoints > 0) ||
		(navigator.msMaxTouchPoints > 0)
	){
		test["result"] = true;
		//test["msg"] = "browser with either Touch Events of Pointer Events running on touch-capable device";
	}
	_push( tests, test );


//--------------------------------------
//_log("<p>" + typeof window.orientation +"</p>");
	var test = {
		"name" : "try detect mobile device",
		"result" : false, 
		"msg" : "test (window.orientation), " + typeof window.orientation
	};

	if ( typeof window.orientation !== "undefined") {
		test["result"] = true;
		test["msg"] = "window.orientation = " + window.orientation;
	}
	_push( tests, test );

//--------------------------------------
	var test = {
		"name" : "touch supported (window.ontouchstart)",
		"result" : false
	};
	var supportsTouch = false;
	//if (('ontouchstart' in window) || 
			//window.DocumentTouch && document instanceof DocumentTouch) {
	if ( typeof window.ontouchstart !== "undefined") {
		test["result"] = true;
		test["msg"] = "window.ontouchstart === true";
	}
	
	test["links"]=[];
	_push( test["links"],{
		"link" : "test_jquery_mobile.html"
	});
	_push( test["links"],{
		"link" : "test_touch_events.html"
	});
	
	_push( tests, test );

//--------------------------------------
	var test = {
		"name" : "msPointerEnabled (IE)",
		"result" : false,
		"msg"	: "test support pointer events"
	};
	if(window.navigator.msPointerEnabled) {
		test["result"] = true;
		test["msg"] = "window.navigator.msPointerEnabled === true";
	}
	_push( tests, test );




//--------------------------------------
	  
	var test = {
		"name" : "window.addEventListener",
		"result" : false
	};
	if ( window.addEventListener ) {
		test["result"] = true;
	}
	_push( tests, test );
//--------------------------------------
	
	var test = {
		"name" : "window.attachEvent",
		"result" : false
	};
	if (window.attachEvent) {
		test["result"] = true;
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "document.querySelector",
		"result" : false
	};
	if (document.querySelector) {
		test["result"] = true;
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "document.getElementById",
		"result" : false
	};
	if (document.getElementById) {
		test["result"] = true;
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "document.all",
		"result" : false
	};
	if (document.all) {
		test["result"] = true;
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "JSON support",
		"result" : false
	};
	if (typeof JSON === 'object') {
		test["result"] = true;
	} else {
		test["msg"] = "typeof JSON :" + typeof JSON;
		test["msg"] += ", methods JSON.stringify(obj), JSON.parse(json_string) not supported...";
		
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "window.ActiveXObject",
		"result" : false
	};
	//if(window.ActiveXObject || "ActiveXObject" in window){
	if( window.ActiveXObject ){
		test["result"] = true;
		test["msg"] = "supported";
//console.log(window.ActiveXObject);

		test["links"]=[];
		/*
		_push( test["links"], {
				"link" : "activexobject.html", 
				"text" : "activexobject.html"
			});
		*/	
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "XML, window.DOMParser",
		"result" : false
	};
	if (window.DOMParser) { // all browsers, except IE before version 9
		test["result"] = true;
		test["msg"] = "supported";
//console.log(window.DOMParser);
	}
	_push( tests, test );
	
//--------------------------------------

	var test = {
		"name" : "Ajax, XMLHttpRequest",
		"result" : false
	};
//alert( typeof window.XMLHttpRequest);	
	if ( typeof window.XMLHttpRequest !== "undefined"){ // Mozilla, Safari, Opera ...
		test["result"] = true;
	} 
	_push( tests, test );
//--------------------------------------

	if( test["result"] ){
/*@cc_on @*/
/*@
	@if (@_jscript_version >= 5)
@*/
		try{
			var xhr = new XMLHttpRequest();
			var test = {
				"name" : "Ajax, XMLHttpRequest2 support",
				"result" : false,
				"msg" : " 'responseType' not in XMLHttpRequest object"
			};
			if ( typeof xhr.responseType !== "undefined" ){
				test["result"] = true;
				test["msg"] = "'responseType' in XMLHttpRequest object";
			} 
			_push( tests, test );
		}catch(e){
console.log(e);
		}
/*@
	@else
@*/
		test["msg"] = "XMLHttpRequest NOT created";
/*@
		test["msg"] += ", JavaScript version: " + @_jscript_version;
	@end
@*/
	}
//--------------------------------------

	var test = {
		"name" : "Ajax, MSXML 1, Microsoft.XMLHTTP",
		"result" : false,
		"msg" : "ReferenceError: ActiveXObject is not defined"
	};

	if( window.ActiveXObject){
/*@cc_on @*/
/*@
	@if (@_jscript_version >= 5)
@*/	
		try {
			var request = new ActiveXObject("Microsoft.XMLHTTP");
			test["result"] = true;
			test["msg"] = "ActiveXObject('Microsoft.XMLHTTP') created";
/*@		
			test["msg"] += ", JavaScript version: " + @_jscript_version;
@*/
		} catch(e){
			test["msg"] = e.description;
		}
/*@
	@else
@*/	
		test["msg"] = "ActiveXObject('Microsoft.XMLHTTP') NOT created";
/*@
		test["msg"] += ", JavaScript version: " + @_jscript_version;
	@end
@*/
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "Ajax, MSXML 2, Msxml2.XMLHTTP",
		"result" : false,
		"msg" : "ReferenceError: ActiveXObject is not defined"
	};

	if( window.ActiveXObject){
/*@
	@if (@_jscript_version >= 5)
@*/	
		try {
			var request = new ActiveXObject('Msxml2.XMLHTTP');
			test["result"] = true;
			test["msg"] = "ActiveXObject('Msxml2.XMLHTTP') created";
/*@		
			test["msg"] += ", JavaScript version: " + @_jscript_version;
@*/
		} catch(e){
		
//for( var key in e){
//var msg = key +" : "+ e[key];
//alert(msg);
//}		
			test["msg"] = e.description;
		}
/*@		
	@else
@*/	
		test["msg"] = "ActiveXObject('Msxml2.XMLHTTP') NOT created";
/*@		
		test["msg"] += ", JavaScript version: " + @_jscript_version;
	@end
@*/
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "Ajax, Fetch API",
		"result" : false
	};
//alert( typeof window.XMLHttpRequest);	
	if ( typeof window.fetch !== "undefined"){
		test["result"] = true;
		test["msg"] = "<p class='alert alert-success'><b>window.fetch</b> supported...</p>";
		
		test["links"]=[];
		var obj = {
			"link" : "test_headers/test_headers.html", 
			"text" : "test_headers.html"
		};
		_push( test["links"], obj );
	} else {
		test["msg"] = "<p class='alert alert-danger'><b>window.fetch</b> NOT supported...</p>";
	}
	_push( tests, test );
//--------------------------------------



	var test = {
		"name" : "HTML5, Worker",
		"result" : false
	};
	if (typeof window.Worker != "undefined"){
		test["result"] = true;
		test["msg"] = "<p class='alert alert-success'><b>window.Worker</b> supported...</p>";
		
		test["links"]=[];
		var obj = {
			"link" : "worker/test_background_calculations.html", 
			"text" : "test_background_calculations.html"
		};
		_push( test["links"], obj );

	} else {
		test["msg"] = "<p class='alert alert-danger'><b>window.Worker</b> NOT supported...</p>";
	}
	_push( tests, test );

//--------------------------------------

	var test = {
		"name" : "HTML5, Geolocation API",
		"result" : false
	};
	if( navigator.geolocation ) {
		test["result"] = true;
		test["msg"] = "<p class='alert alert-success'><b>navigator.geolocation</b> supported...</p>";
		
		test["links"]=[];
		var obj = {
			"link" : "geolocation.html", 
			"text" : "geolocation.html"
		};
		_push( test["links"], obj );
		
	} else {
		test["msg"] = "<p class='alert alert-danger'><b>navigator.geolocation</b> NOT supported...</p>";
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "HTML5, File API",
		"result" : false
	};
	if( window.File && window.FileList && window.FileReader ) {
		test["result"] = true;
		test["msg"] = "Your browser support <b> window.File && window.FileList && window.FileReader</b>";
		test["links"]=[];
		var obj = {
			"link" : "fileapi.html", 
			"text" : "fileapi.html"
		};
		_push( test["links"], obj );
	} else {
		test["msg"] = "Your browser no supported <b> window.File && window.FileList && window.FileReader</b>";
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "HTML5, WebSocket",
		"result" : false
	};
	
	//if('WebSocket' in window) {
	if( window.WebSocket ) {
		test["result"] = true;
	} else {
		test["msg"] = "This browser do not have support <b>WebSocket</b>.";
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "localStorage",
		"result" : false
	};
	//if( 'localStorage' in window && window['localStorage'] ){
	if( window['localStorage'] ){
		test["result"] = true;
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "sessionStorage",
		"result" : false
	};
	//if( 'sessionStorage' in window && window['sessionStorage'] ){
	if( window['sessionStorage'] ){
		test["result"] = true;
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "indexedDB",
		"result" : false
	};
	
	//window.indexedDB = window.indexedDB || window.mozIndexedDB || window.webkitIndexedDB || window.msIndexedDB;
	if (!window.indexedDB) {
	//var test_idb = "indexedDB" in window;
	//var test_idb = typeof window.indexedDB;
	//if(!test_idb) {
		test["msg"] = "IndexedDB not supported, ";
		test["msg"] += "<br>window.indexedDB = " + window.indexedDB;
		test["msg"] += "<br>window.mozIndexedDB = " + window.mozIndexedDB;
		test["msg"] += "<br>window.webkitIndexedDB = " + window.webkitIndexedDB;
		test["msg"] += "<br>window.msIndexedDB = " + window.msIndexedDB;
	} else {
		test["result"] = true;
		
		test["msg"] = "<br>window.indexedDB = " + window.indexedDB;
		test["msg"] += "<br>window.mozIndexedDB = " + window.mozIndexedDB;
		test["msg"] += "<br>window.webkitIndexedDB = " + window.webkitIndexedDB;
		test["msg"] += "<br>window.msIndexedDB = " + window.msIndexedDB;
		test["links"]=[];
		
		var obj = {
			"link" : "webstorage/test_DB.html", 
			"text" : "test_DB.html"
		};
		_push( test["links"], obj );
		
		var obj = {
			"link" : "webstorage/test_indexeddb.html", 
			"text" : "test_indexeddb.html"
		};
		_push( test["links"], obj );
		
		var obj = {
			"link" : "webstorage/mobapp.database/test/test_mobapp_db.html", 
			"text" : "test_mobapp_db.html"
		};
		_push( test["links"], obj );
		
		var obj = {
			"link" : "webstorage/mobapp.database/test/test_idb.html", 
			"text" : "test_idb.html"
		};
		_push( test["links"], obj );
		
	}
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "Web SQL database",
		"result" : false
	};
	if (window.openDatabase) {
		test["result"] = true;
	}
	_push( tests, test );

//--------------------------------------
	var test = {
		"name" : "Application Cache API",
		"result" : false
	};
	if ( typeof window.applicationCache !== "undefined") {
		test["result"] = true;
		test["msg"] = "window.applicationCache supported, " + window.applicationCache;
		
		test["links"]=[];
		var obj = {
			"link" : "appcache/test_appcache.html", 
			"text" : "test_appcache.html"
		};
		_push( test["links"], obj );
		
	} else {
		test["msg"] = "window.applicationCache not supported, " + window.applicationCache;
	}
	
	_push( tests, test );
//--------------------------------------
	var test = {
		"name" : "CacheStorage API",
		"result" : false
	};
	if ( typeof window.caches !== "undefined") {
		test["result"] = true;
		test["msg"] = "<p class='alert alert-success'><b>window.caches</b> supported...</p>";
		
		test["links"]=[];
		var obj = {
			"link" : "https://developer.mozilla.org/ru/docs/Web/API/CacheStorage", 
			"text" : "developer.mozilla.org, CacheStorage"
		};
		_push( test["links"], obj );
		
	} else {
		test["msg"] = "<p class='alert alert-danger'><b>window.caches</b> NOT supported...</p>";
	}
	
	_push( tests, test );

//--------------------------------------
	var test = {
		"name" : "HTML5, Service Worker API",
		"result" : false
	};
	var result = navigator.serviceWorker;
//alert(result);
console.log(result);
	if ( result ) {
		test["result"] = true;
		test["msg"] = "<p class='alert alert-success'><b>navigator.serviceWorker</b> supported...</p>";
		test["links"]=[];
		var obj = {
			"link" : "service_worker/test_service_worker.html", 
			"text" : "test_service_worker.html"
		};
		_push( test["links"], obj );
		
	} else {
		test["msg"] = "<p class='alert alert-danger'><b>navigator.serviceWorker</b> NOT supported...</p>";
		
		if( window.location.protocol !== "https:"){
			var msg = "serviceWorker requires 'https:' protocol., but used: " + window.location.protocol;
			test["msg"] += "<p class='alert alert-warning'>"+msg+"</p>";
		}
	}

	_push( tests, test );
	
//--------------------------------------
	var test = {
		"name" : "Notification API",
		"result" : false
	};
	var testSupport =  typeof window.Notification !== "undefined";
	if ( testSupport ) {
		test["result"] = true;
		test["msg"] = "<p class='alert alert-success'><b>window.Notification</b> supported...</p>";
		test["links"]=[];
		var obj = {
			"link" : "test_pushAPI/test_push.html", 
			"text" : "test_push.html"
		};
		_push( test["links"], obj );
		
	} else {
		test["msg"] = "<p class='alert alert-danger'><b>window.Notification</b> NOT supported...</p>";
	}
	_push( tests, test );

//--------------------------------------
	var test = {
		"name" : "Push API",
		"result" : false
	};
	var testSupport =  typeof window.PushManager !== "undefined";
	if ( testSupport ) {
		test["result"] = true;
		test["msg"] = "<p class='alert alert-success'><b>window.PushManager</b> supported...</p>";
	} else {
		test["msg"] = "<p class='alert alert-danger'><b>window.PushManager</b> NOT supported...</p>";
	}
	_push( tests, test );
	
//--------------------------------------

	var test = {
		"name" : "HTML5, Server side events",
		"result" : false
	};
	if( typeof window.EventSource === "undefined"){
		test["msg"] = "No server-sent events support";
	} else {
		test["result"] = true;
		test["msg"] = "window.EventSource = " + typeof window.EventSource;
	};
	_push( tests, test );
	
//--------------------------------------

	var test = {
		"name" : "HTML5, isCanvasSupported",
		"result" : false
	};
/*@
	@if (@_jscript_version >= 5)
@*/	
		try {
			document.createElement("canvas").getContext("2d");
			test["result"] = true;
			test["msg"] = "Canvas 2D supported in this browser";
			
			test["links"]=[];
			var obj = {
				"link" : "test_graphics/canvas/test_canvas.html", 
				"text" : "test_canvas.html"
			};
			_push( test["links"], obj );
			
			var obj = {
				"link" : "test_graphics/canvas/graphics_curves.html", 
				"text" : "graphics_curves.html"
			};
			_push( test["links"], obj );
			
		} catch (e) {
		
			test["msg"] = "Canvas 2D is not supported in this browser";
			test["msg"] += "<br> "+e.name+ ", "+e.message+ ", "+e.number+ ", "+e.description;
		}
/*@		
	@end
@*/
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "WebGL support",
		"result" : false
	};
/*@
	@if (@_jscript_version >= 5)
@*/	
		var gl = null;
		try {
			gl = document.createElement("canvas").getContext("webgl") || 
document.createElement("canvas").getContext("experimental-webgl");		

		} catch (e) {
			test["msg"] = "WebGL does not supported in this browser";
			test["msg"] += "<br> "+e.name+ ", "+e.message+ ", "+e.number+ ", "+e.description;
		}
		
		if ( gl ) {
			test["result"] = true;
			test["msg"] = "Canvas WebGL supported in this browser";
			
			test["links"]=[];
			var obj = {
				"link" : "test_graphics/test_WebGL.html", 
				"text" : "test_WebGL.html"
			};
			_push( test["links"], obj );
			
			var obj = {
				"link" : "http://madebyevan.com/webgl-water/", 
				"text" : "WebGL Water"
			};
			_push( test["links"], obj );
			
			
		}
/*@		
	@end
@*/
	_push( tests, test );
//--------------------------------------

	var test = {
		"name" : "SVG support",
		"result" : false
	};
	if ( !!(document.createElementNS && 
			document.createElementNS('http://www.w3.org/2000/svg', 'svg').createSVGRect) ) {
		test["result"] = true;
	}
	_push( tests, test );
//--------------------------------------

/*@
	@if (@_jscript_version >= 5)
@*/	
	var test = {
		"name" : "SVG in text/html",
		"result" : false
	};
	
	var e = document.createElement('div');
	e.innerHTML = '<svg></svg>';

	if ( !!(window.SVGSVGElement && 
			e.firstChild instanceof window.SVGSVGElement)	
	) {
		test["result"] = true;
		
		test["links"]=[];
		var obj = {
			"link" : "../html/svg/test_svg.html", 
			"text" : "test_svg.html"
		};
		_push( test["links"], obj );
		
		
		var obj = {
			"link" : "../html/svg/svg_samples.html", 
			"text" : "svg_samples.html"
		};
		_push( test["links"], obj );
	
	}
/*@		
		test["msg"] = "windows, JavaScript version: " + @_jscript_version;
@*/

	_push( tests, test );
/*@		
	@end
@*/

//--------------------------------------

	var test = {
		"name" : "Promise support",
		"result" : false
	};
	if( typeof window.Promise !== "undefined" ){
		test["result"]= true;
		test["links"]=[];
		var obj = {
			"link" : "test_promise.html" 
		};
		_push( test["links"], obj );
	}
	
	_push( tests, test );
	
//--------------------------------------
	var test = {
		"name" : "Internationalization API",
		"msg" : "Intl not supported",
		"result" : false
	};
	test["links"]=[];
	var obj = {
		"link" : "https://caniuse.com/#search=Intl.Collator", 
		"text" : "caniuse.com, Intl.Collator"
	};
	_push( test["links"], obj );
	var obj = {
		"link" : "test_SORT.html", 
		"text" : "test_SORT.html"
	};
	_push( test["links"], obj );
	
	if( typeof window.Intl !== "undefined" ){
		test["result"]= true;
		test["msg"]= "";
	}
	_push( tests, test );
	
//--------------------------------------
	var test = {
		"name" : "HTML5: classList support",
		"msg" : "classList not supported",
		"result" : false
	};
	//test["links"]=[];
	//var obj = {
		//"link" : "", 
		//"text" : ""
	//};
	//_push( test["links"], obj );
	
	for(key in document.body){
		if( key === "classList"){
console.log( key, document.body[key]);
			test["result"]= true;
			test["msg"]= "";
		}
	}//next
	
	_push( tests, test );
	
//--------------------------------------
	var test = {
		"name" : "HTML5: test media support: &lt;video&gt;, &lt;audio&gt;",
		"msg" : "HTML5 media not supported",
		"result" : false
	};
	test["links"]=[];
	var obj = {
		"link" : "test_media/test_audio_video.html" 
	};
	_push( test["links"], obj );
	
	var _video = document.createElement('video');
	if( typeof _video === "object"){
		if( typeof _video["load"] === "function"){
			test["result"]= true;
			test["msg"] = "creating a object VIDEO was successful.<br>";
/*			
			if( typeof _video["canPlayType"] === "function"){
				test["msg"] += "video.canPlayType is a function<br>";
			}
			if( typeof _video["fastSeek"] === "function"){
				test["msg"] += "video.fastSeek is a function<br>";
			}
			if( typeof _video["play"] === "function"){
				test["msg"] += "video.play is a function<br>";
			}
			if( typeof _video["pause"] === "function"){
				test["msg"] += "video.pause is a function<br>";
			}
*/			
		} else {
			test["result"]= false;
			test["msg"] = "creating a object VIDEO failed.<br>";
		}
	}
	
	var _audio = document.createElement('audio');	
//console.log(typeof _audio["load"]);
//for( var key in _audio){
//console.log(key, _audio[key] );
//}
	if( typeof _audio === "object"){
		if( typeof _video["load"] === "function"){
			test["result"]= true;
			test["msg"] += "creating a object AUDIO was successful.<br>";
		} else {
			test["result"]= false;
			test["msg"] += "creating a object AUDIO failed.<br>";
		}
	}
	
	_push( tests, test );
//--------------------------------------


//console.log(tests);
	//for( var item in tests[0] ){
		//var msg = "<li>" + item +" = "+ tests[0][item] + "</li>";
		//_log( msg);
	//}

	//form HTML
	var testTpl = '<div class="panel"><div class="panel-body"><b>{{name}}</b> : <span class="text-info text-uppercase"><b>{{result}}</b></span><div class="description"><small>{{msg}}</small></div>{{test_links}}</div></div>';
	
	//var test_tpl = getDOMobj("test-tpl").innerHTML;
//console.log( test_tpl );	

	var test_links_tpl = getDOMobj("test-links-tpl").innerHTML;
//console.log( test_links_tpl );	
	var test_links_item_tpl = getDOMobj("test-links-item-tpl").innerHTML;
//console.log( test_links_item_tpl );	
	
	var testHtml = "<h1>Tests</h1>";
	for( var n = 0; n < tests.length; n++){
	
		var html = testTpl.replace("{{name}}", tests[n]["name"])
		.replace("{{result}}", tests[n]["result"]);
		
		var msg = tests[n]["msg"];
		if(!msg){
			msg = "";
		}
		html = html.replace("{{msg}}", msg );
		
		var test_links = "";
		if( tests[n]["links"] ){
			var test_links = tests[n]["links"];
			if( test_links.length > 0  ){
				var html_items = "";
				for( var n2 = 0; n2 < test_links.length; n2++){
					if( test_links[n2]["text"] && test_links[n2]["text"].length > 0){
						var textLink = test_links[n2]["text"];
					} else {
						var textLink = test_links[n2]["link"];
					}
					html_items += test_links_item_tpl
					.replace("{{item-link}}", test_links[n2]["link"])
					.replace("{{item-text}}", textLink);
				};//next
				test_links = test_links_tpl.replace("{{links}}", html_items);
//console.log( test_links );		
			}
		}
		html = html.replace("{{test_links}}", test_links);
		
		testHtml += html;
	}//next
	
	return "<ul>" + testHtml + "</ul>";
}//end runTests()
</script>

<style>
.page-header h1 {
	/* background-color: #7BA05B; */
	color: #fff;
}

body {
	background-color: #95a496;/*#E5F2E5;*/
}
.panel{
background-color:#fffff3;
border:1px solid #cccccc;
}
.relative-links{
background-color: #dec;;
}

.log-panel{
}
</style>

</head>

<body>
<div class="container">
	<div class="page-header">
		<h1>Browser info</h1>
	</div>
	
	<pre>
<a href="http://mybrowserinfo.com/">mybrowserinfo.com</a>
<a href="http://supportdetails.com/">supportdetails.com</a>
<a href="http://caniuse.com/">caniuse.com</a>, Can I use... Support tables for HTML5, CSS3, etc
<a href="http://diveintohtml5.info/everything.html">diveintohtml5.info</a>
	</pre>
	
	<div class="log panel" id="ua">
		<h3 class="text-center">navigator.userAgent: {{userAgent}}</h3>
<!--		
		<ul>
<li>navigator.product: <b>{{product}}</b></b></li>
<li>navigator.appCodeName: <b>{{appCodeName}}</b></li>
<li>navigator.appName: <b>{{appName}}</b></li>
<li>navigator.appVersion: <b>{{appVersion}}</b></li>
<li>navigator.appMinorVersion: <b>{{appMinorVersion}}</b></li>
<li>navigator.cookieEnabled: <b>{{cookieEnabled}}</b></li>
<li>navigator.language: <b>{{language}}</b></li>
<li>navigator.systemLanguage: <b>{{systemLanguage}}</b></li>
<li>navigator.userLanguage: <b>{{userLanguage}}</b></li>
<li>navigator.onLine: <b>{{onLine}}</b></li>
<li>navigator.platform: <b>{{platform}}</b></li>
<li>navigator.cpuClass: <b>{{cpuClass}}</b></li>
<li>navigator.oscpu: <b>{{oscpu}}</b></li>
		</ul>
-->
	</div>
	
<!--	
	<div class="panel log hide">
		
		<div class="panel-body">
			<ul id="tests-out">
				<span id="test-tpl">
					<li class="panel-group">
<b>{{name}}</b> : <span class="text-info text-uppercase"><b>{{result}}</b></span> 
<div class="description">
	<small>{{msg}}</small>
</div>
{{test_links}}
					</li>
				</span>
			</ul>
		</div>
		
	</div>
-->
<style>
.t-btn {
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}
</style>
	<button id="btn1" class="t-btn btn-success">run tests</button>
	<button id="btn2" class="t-btn btn-warning">get 'Document' info</button>
	<button id="btn3" class="t-btn btn-info">get 'Navigator' info</button>
	<button id="btn4" class="t-btn btn-primary">get 'Window' info</button>
	<button id="btn5">btn</button>

	<div class="panel">
		<p id="counter"></p>
		<div class="panel-body">Log panel
			<div id="log"></div>
		</div>
	</div>

	<div class="panel">
		<div class="panel-body">Info panel
			<div id="info"></div>
		</div>
	</div>

	
	
</div><!-- end container -->

<!-- TEMPLATES -->

<script type="text/template" id="test-tpl">
			<ul>
					<li class="panel-group">
<b>{{name}}</b> : <span class="text-info text-uppercase"><b>{{result}}</b></span> 
<div class="description">
	<small>{{msg}}</small>
</div>
{{test_links}}
					</li>
			</ul>
</script>

<script type="text/template" id="test-links-tpl">
	<ul class="form-control list-inline relative-links">
		{{links}}
	</ul>
</script>

<script type="text/template" id="test-links-item-tpl">
		<li>
			<a href='{{item-link}}'>{{item-text}}</a>
		</li>	
</script>


</body>
</html>
