
.lr-btn-active, .btn-active {
background-color: #1e90ff !important;
/*color:#000 !important;*/
}

#tab-buttons ul {margin:0;}

.arrows {
	background-image: url("../img/icon_black_change_direction.svg");
/*
	width: 40px;
	height: 40px;
*/
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: contain; */
	background-size: 100%;
	padding: 20px 30px;
}

.icon-train {
	/*height: 30px;*/
	width: 30%;
	/*color: #1dc11d;*/
}
.filter-green{
    filter: invert(85%) sepia(32%) saturate(6425%) hue-rotate(66deg) brightness(81%) contrast(104%);
}
