/* LOAD */
/*http://htmlbook.ru/css/import*/
@import "load.css" screen;

body, html {
  height: 100%;
}
body {
  background-color: #055c80;/*#315570*//*#2c5885*//*#6aa6c0*/
  margin: 0;
  padding: 15px;
}

.main-content {
  height: 80%;
}
.container {
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  padding: 20px;
}

/* fix Bootstrap */
/*
header .nav-tabs .btn:hover {
	background-color: orange;
	color: #000 !important;
}
header .nav-tabs .btn:focus {
	background: orange;
	color: #000 !important;
}
*/
.nav-tabs {
	/* border-bottom: transparent; */
	margin-bottom: 10px;
}

.alert {
	margin-bottom: 3px !important;
	padding: 7px !important;
}

header .navbar {
    margin-bottom: 0;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	/*border-color: #8a6d3b;*/
}



.log-panel {
	background-color: #b0c4de;
}

.arrows{
background-image: url("../res/favicons/mask-icon.svg");
width: 50px;
height: 35px;
background-repeat: no-repeat;
background-position: center;
/*
background-size: contain	
*/
}
.selectDate{
padding-top:0;
}

.TransportIcon__icon {
 height:30px;
 width:20px
}
.TransportIcon__icon {
 fill:currentColor
}
.TransportIcon_type_suburban {
 color:#1dc11d
}
.SegmentTransport {
 font-size:11px;
 line-height:15px;
}
.SegmentTitle__number {
 margin:0 .9em 0 0
}

#block-schedule .panel-body{
	padding:5px;
}