/*-------PAGER----------------------------------------------------------*/
.pager
{
	border:0px solid white;
	text-align:center;
	font-size:14px;
	/*color:#ffffff;*/
}

.pager a
{
	/*color:#ffffff;*/
	font-family: Verdana;
	color:blue;
	text-decoration:none;
}

.pager h2
{
	color:#000000;
	font-family: Times;
}

.nav_index
{
	color:#ffffff;
}

.nav_prev
{
	float:left;
	border:0px solid white;
	/*margin-top: 10px;*/
}
.nav_next
{
	float:right;
	border:0px solid white;
	/*margin-top: 10px;*/
}

.nav_pager
{
	/*float:left;*/
	border:0px solid white;
	/*margin-top: 10px;*/
	/*width: 729px;*/
}

.num_page_top
{
    /*border-bottom: 1px solid #ffffff;*/
    padding: 10px;
    text-align: center;
	color:#ffffff;
}
.num_page_bottom
{
    /*border-top: 1px solid #ffffff;*/
    padding: 10px;
    text-align: center;
	color:#ffffff;
}

.num_page_bottom a
{
	color:blue;
}

.pager_start_page
{
    margin: 10px;
    text-align: center;
}

.active_page
{
	font-weight:bold;
	/*font-size:16px;*/
}
/*---------------------------------------------------------------------*/
.nav_txt
{
	color:#000000;
	font-family: Verdana;
}
.resize
{
	color:#ffffff;
	float:right;
	font-size: 12px;
	margin-right: 10px;
}

.more
{
	color:#ffffff;
	border-bottom:1px solid;
	margin-top:10px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:10px;
	padding-right:10px;
	/*text-align:left;*/
}
/*-------END PAGER--------------------------------------------------*/

