body
{
	background: #006b6b/*#182B50*/;
	color:#ffffff;
	font-size:16px;
		font-family:OpenSans-Regular;
/*
		font-family:Century Gothic;
	font-family: French Script MT;
		font-family: DejaVuSerif;
	font-family:Impact;

    font-family: 'cuprumffuregular';
	font-family: 'Conv_PFAgoraSlabPro-Medium';
				font-family: Lobster;
			font-family: segoe-ui;

		font-family:OpenSans-Regular;
		font-family:OpenSans-Italic;
font-family:OpenSans-Light;
font-family:OpenSans-LightItalic;
font-family: OpenSans-Bold;
font-family: OpenSans-BoldItalic;
font-family:OpenSans-ExtraBold;
font-family:OpenSans-ExtraBoldItalic;
font-family:OpenSans-Semibold;
font-family:OpenSans-SemiboldItalic;

		font-family: 'Conv_OfficinaSerifC-Book';
	font-family: 'Conv_OfficinaSerifC-BookItalic';

		font-family: 'Conv_DINPro-Medium',Sans-Serif;
	font-family: 'Conv_DINPro-Regular',Sans-Serif;
	font-family: 'Conv_DINPro-Black',Sans-Serif;
	font-family: 'Conv_DINPro-Bold',Sans-Serif;
	font-family: 'Conv_DINPro-Light',Sans-Serif;
*/	
}

#breadcrumb {
  background: #ccffff;
}

#photo-page .taxonomy {
  background: #99ccff;
}

.slide2 .termin.parent-1 {
  background: none repeat scroll 0 0 #006b9e;
}
.slide2 .list_albums-link {
  color: #ffffff;
}
.slide2 .child-termins {
  color: #ffffff;
}

.child-albums 
{
  background: #d8efe0;
}

.header h1 {
  font-size: 3em;
	font-family: Lobster;

}
.title-album {
  font-size: 1.5em;
	/*font-family: Lobster;*/
	font-family: ComfortaaLight;
font-weight: bold;
}
.taxonomy a {
  font-family: Lobster;
}
.list_albums-link > b {
  font-family: OpenSans-Italic;
color:#000000;
}
