body,html
{
height:100%;
}

body
{
padding-top: 20px;
background: #45557A/*#196e9c*/;
}

a {
  color: #0000ff;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
}


.container {
  height: 100%;
  /*min-height: 100%;*/
}
.container .row-2 {
  height: 100%;
  /*min-height: 100%;*/
}
.row-2 .middle-col {
  height: 100%;
}
.main-wrap {
  height: 100%;
}
#slides {
  height: 100%;
}
#slides .row-2 {
  height: 100%;
}
#slides .slides_container.list-termins {
  height: 150%;
}
/*----------------------*/

/*
.left-col {
  width: 15%;
}
.middle-col {
  width: 70%;
}
.right-col {
  width: 15%;
}
*/

#front-page,
#list-page,
#photo-page
{
  height: 100%;
}

.header {
  text-align: center;
}
.header h1 {
}


.main-wrap {
}
.main-wrap h2 {
  font-size: 24px;
  text-align: center;
}


/*
	Slideshow style
*/
#slides {
  z-index: 100;
}
#slides {
  padding-bottom: 5px;
}


.pagination {
  display: inherit;
  padding-left: 0;
}

.pagination li {
  display: inline;
}
.pagination li > a {
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
}

.slider-tabs .col-lg-1 
{
  width: 12.333%;
}
#slides .pagination {
}
#slides .pagination li.current {
  background: none repeat scroll 0 0 #e6e6ff;
    position: relative;
    top: 4px;
}
#slides .pagination li {
  border-radius: 10px 10px 0 0;
  float: left;
  margin-right: 5px;
margin-bottom: 3px;
  padding: 5px;
  text-align: center;
}
#slides .pagination a {
background-color: inherit;
border: medium none;
color: #000000;
font-size: 105%;
/*font-size: 1.4em;*/
outline: medium none;
}

#tab1 {
  background: #ff8080;
}
#tab2 {
  background: #99ccff;
}
#tab3 {
  background: #ffd320;
}
#tab4 {
  background: #ccffff;
}
#tab5 {
  background: #FFFACD;
}
#tab6 {
  background: #bee4ce;
}

#slides .slides_container {
  display: none;
  overflow: hidden;
}
#slides .slides_container.list-termins {
  background: none repeat scroll 0 0 #e6e6ff;
  border-radius: 10px;
  margin: auto;
  padding: 20px 10px;
}
#slides .slide {
  display: block;
}
#slides .slide {
  color: #000000;
  width: 640px;
}
#slides .next,#slides .prev
{
	display:block;
	z-index:101;
}

#slides .link {
	margin:20px;
	font-weight:800;
}

.slide2 .termin.parent-1 {
background: none repeat scroll 0 0 #99ccff;
border-radius: 10px;
display: block;
float: left;
margin: 10px;
padding: 15px;
width: 30%;
}


/*----------------- list-page ----------------*/
#breadcrumb {
  background: none repeat scroll 0 0 #e6e6ff;
color: #000000;
  border-radius: 10px 10px 0 0;
  padding: 10px;
margin-bottom:5px;
}

#info {
  margin-top: 10px;
}

.child-albums 
{
  background: #fecd90;
border-radius: 20px 20px 0 0;
  padding-bottom: 10px;
  padding-top: 10px;
margin-top: 5px;
}

.related-albums-title {
  color: #000000;
  font-size: 1.5em;
}
.child-termins {
  color: #008000;
}
.child-termins ul {
  list-style-type: disc;
}

.pager ul {
  margin-left: -20px;
  padding-left: 0;
  padding-top: 5px;
}
.pager li > a {
  background-color: #e6e6ff;
  border: medium none;
  border-radius: 5px;
  font-size: 1.2em;
  padding: 2px 10px;
}
.pager li > a:hover, .pager li > a:focus {
  background-color: #4B0082;
  text-decoration: none;
  color: #ffffff;
}

#list-page .node {
  background: none repeat scroll 0 0 #e6e6ff;
  border-radius: 20px;
  color: #000000;
  margin-bottom: 15px;
  padding: 30px 15px;
}

.pager li > a.active {
background-color: inherit;
color: #ffffff;
text-decoration: none;
}


.photo-info {
  word-wrap: break-word;
}
.taxonomy {
  word-break: break-all;
  /*word-wrap: break-word;*/
}

.title-album {
  font-size: 2.2em;
}

.total-photo {
  color: #000000;
  text-decoration: none;
}

.taxonomy ul {
  padding: 0;
}
.taxonomy li {
display: inline;
font-size: 1.1em;
padding: 5px;
}
.taxonomy .active {
  color: #000000;
}


#list-page .pager {
  margin-bottom: 5px;
  margin-top: 15px;
}

#list-page .page-content {
  margin-top: 10px;
}

/*----------------- photo-page ----------------*/
#photo-page .photo-info {
  text-align: center;
}
#photo-page .node {
  background: none repeat scroll 0 0 #e6e6ff;
  border-radius: 20px;
  color: #000000;
  margin-bottom: 15px;
  padding: 30px 15px;
text-align: center;
}
#photo-page .total-photo {
  color: #ffffff;
}

#photo-page .row-child-albums
{
  margin-bottom: 20px;
}
#photo-page .photo-info
{
margin-bottom:20px;
}

#photo-page .photo-img {
  display: inline-block;
    padding-bottom: 25px;
    padding-right: 10px;
 vertical-align: middle;
}
#photo-page .taxonomy {
  background: #fecd90;
  border-radius: 10px 10px 0 0;
  color: #000000;
  margin-bottom: 5px;
  padding: 5px 10px 1px;
}





.album-info
{
margin-bottom:5px;
}

.num-info {
  font-size: 0.9em;
}
#list-page .num-info ,
#photo-page .num-info
{
margin-bottom: 5px;
}



.image-action-link li {
  display: inline;
  list-style: outside none none;
  padding-right: 10px;
}


#img-exif-info
{
  background: none repeat scroll 0 0 #ffffff;
  color: #000000;
  height: 300px;
  left: 10px;
  padding: 10px;
  position: fixed;
  top: 20px;
  width: 460px;
}



.list-photoalbums li {
  color: #008000;
}


.related-pages
{
background: #d8efe0;
text-align: center;
}
.related-pages li
{
display:inline;
padding: 10px;
}

