@media print {
/* запретить печать якорных ссылок */
	a[href^="#"]:after {
	    content: "";
	}

/* печать внешних ссылок */
	a[href^=http]:after {
		/*content:" <" attr(href) "> ";*/
	    content: "";
	}

	a[href*="list_albums.html"]:after
	{
	    content: "";
	}

	#breadcrumb
	{
		display:none;
	}

	.header .num-info
	{
		display:none;
	}

	.print-btn,
	.replace-preview-btn
	{
		display:none;
	}

	.scroll-to
	{
		display:none;
	}

	.image-action-link
	{
		display:none;
	}
/*
	.photo-img > img
	{
		width:75%;
	}
*/

}


.replace-preview-btn
{
	display:none;
}

