#log
{
background: #ffffff;
opacity: 0.9;
color: #000000;
padding: 10px;
position: fixed;
right: 5px;
top: 5px;
width: 400px;
}
#log .close 
{
  display: block;
  float: right;
  left: 5px;
  position: relative;
  top: -10px;
}

#ajaxBusy
{
background: none repeat scroll 0 0 #ffffff;
color: #000000;
left: 5px;
padding: 10px;
position: fixed;
text-align: center;
top: 5px;
}
#ajaxBusy > h1 {
  margin: 0;
}


/*------------ to top ---------------*/
.to-top {
    display: none;
    width: 15%;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    text-align: center;
    text-decoration: none !important;
    font-size: 18px;
    z-index: 99;
    color: #ffffff;
	outline:none;
    background: rgba(0, 0, 0, 0.2);
}
.to-top:hover {
    /*background: rgba(0, 0, 0, 0.2);   */
    color: #ccffff;
}
.to-top:focus {
    color: #ccffff;
}
.lt-ie9 .to-top {
}
.lt-ie9 .to-top:hover {
}

.to-top span 
{
display: block;
font-size:40px;
height:25px;
}
.to-top b
{
display: block;
font-weight:normal;
}

.to-top span,
.to-top b
{
position:relative;
top:65%;
}

