.book-navigation .page-links {
background: none repeat scroll 0 0 #FFFFFF;
border-radius: 5px;
height: 20px;
padding: 0.5em;
text-align: center;
}
.book-navigation .page-previous {
  text-align: left;
  width: 42%;
  display: block;
  float: left;
}
.book-navigation .page-up {
  margin: 0 5%;
  width: 4%;
  display: block;
  float: left;
}
.book-navigation .page-next {
  text-align: right;
  width: 42%;
  display: block;
  float: right;
}

