body
{
	background:#222222;
	/*background:#708090;*/
	/*background:#EDD4A0;*/
}

.page
{
	/*border:0px solid red;*/
	/*background:#072F07;*/
	/*background:#EDD4A0;*/
	background:#ffffff;
}

.text_column
{
	/*border:0px solid red;*/
	/*background:#EDD4A0;*/
	background:#ffffff;
}
.notebook_page
{
	/*background:#ffffff;*/
}

.notebook_page table
{
    /*border: 7px double black;*/
    /*margin: 5px;*/
}

/*---------------------------------------------------------------------------------*/
.page
{
	border:0px solid red;
	margin-left: 20px;
	margin-right: 20px;
	margin-top:5px;
	padding-bottom:10px;
}


.text_column
{
	border:0px solid gold;
	/*float:left;*/
	padding:30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.text_column p
{
	text-indent:30px;
	font-family: Verdana;
	font-size:16px;
}

.picture_column
{
	border:0px solid red;
	/*float:right;*/
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	/*padding-top:30px;*/

	/*width:320px;*/
	/*width:48%;*/
}

.picture_column p
{
	text-align:center;
	color:#ffffff;
	margin:10px;
    margin: auto;
    padding: 5px;
    /*width: 300px;*/
}

.picture_column h2
{
	text-align:center;
	color:#ffffff;
	margin:10px;
}

.picture
{
	background:darkred;
	border:0px solid #ffffff;
	/*width:320px;*/
	margin-bottom:10px;
	padding:10px;
	text-align:center; /* картинка становится по центру в IE и др.*/
}

.picture img
{
	/*width:300px;*/
	/*display:block;*/
	/*margin:auto;*/
	border:0px;
}

.resize
{
	color:#ffffff;
	/*float:right;*/
	font-size: 12px;
	margin-right: 10px;
}

.picture a
{
	color:gold;
	text-decoration:none;
}

.url_details
{
	float:left;
	margin:5px;
}

.url_details a
{
	color:#ffffff;
}

.clear_both
{
	clear:both;
}

.search_form
{
    border: 0px solid white;
    color: #FFFFFF;
}

