/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}
/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
background: #2c5885; /* Old browsers */
background: -moz-linear-gradient(left, #2c5885 7%, #4682b2 20%, #172e46 56%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(7%,#2c5885), color-stop(20%,#4682b2), color-stop(56%,#172e46)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #2c5885 7%,#4682b2 20%,#172e46 56%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #2c5885 7%,#4682b2 20%,#172e46 56%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #2c5885 7%,#4682b2 20%,#172e46 56%); /* IE10+ */
background: linear-gradient(to right, #2c5885 7%,#4682b2 20%,#172e46 56%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c5885', endColorstr='#172e46',GradientType=1 ); /* IE6-9 */
}

.container .header{
  color: #ffffff;
margin-top:50px;
}

.container .content{
  background-color: #ffffff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
margin-bottom: 50px;
}
.container .content .row1{
height:285px;
}
.container .content .row1 h1{
color:#2d5b89;
/*font-size:170pt;*/
font-size:14em;
font-family:bn_emulatorregular;
position: relative;
    top: 50px;
text-shadow: -3px -2px 2px #000; 
}
@media screen and (max-width:980px) 
{
	.container .content .row1 h1
	{
		font-size:11em;
	}
}

.content .row2 {
/*
  background-color: #717171;
  height: 45px;
*/
}

.header .logo {
background: url("../img/logo.png") no-repeat;
width: 182px;
height: 50px;
margin-bottom: 10px;

}

.tape {
background: url("../img/sprite.png") no-repeat scroll 0 -154px rgba(0, 0, 0, 0);
height: 66px;
left: -49px;
padding-left: 65px;
padding-top: 5px;
position: relative;
}
.tape h3 {
  color: #fff;
  font-family: Calibri;
  font-size: 18pt;
  margin: 0;
}
.shield {
background: url("../img/sprite.png") no-repeat scroll 5px -88px rgba(0, 0, 0, 0);
height: 50px;
left: 5px;
position: relative;
top: -20px;
width: 53px;
}
/*
.content .row3 {
  height: 100px;
}
*/

.info-box {
  padding-left: 25px;
}
.info-box > h3 {
  color: #2a5580;
  font-family: Arial;
  font-size: 22pt;
  margin-top: 25px;
}
.info-box > p {
  color: #777777;
  font-family: Arial;
  font-size: 13pt;
}

.visit-site {
background: url("../img/sprite.png") no-repeat scroll 0 -238px rgba(0, 0, 0, 0);
height: 38px;
padding-left: 35px;
padding-top: 7px;
position: relative;
left: -33px;
top: 10px;
}
.visit-site a {
  color: #fff;
  font-family: Arial;
  font-size: 12pt;
}

.main-menu {
  margin-top: 15px;
}
.main-menu ul {
margin-bottom: 35px;
padding: 0 0 0 10px;
}
.main-menu li {
  background: url("../img/sprite.png") no-repeat scroll 0 15px rgba(0, 0, 0, 0);
  list-style: none outside none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
border-bottom: 1px solid #dcdfe3;
}
.main-menu a{
  color: #777777;
  font-family: Arial;
  font-size: 12pt;
}

.social-wrap {
  margin-bottom: 50px;
}
.social-box
{
padding-left: 25px;
}
h4 {
  color: #28517a;
  font-family: Arial;
  font-size: 15pt;
}
.social-icons {
background: url("../img/sprite.png") no-repeat scroll 0 -50px rgba(0, 0, 0, 0);
display: block;
height: 35px;
padding: 5px 0 0 18px;
width: 107px;
position: relative;
top: 5px;
left: 5px;
}
.social-icons li
{
	display:inline-block;
}
.social-icons .tw {
  background: url("../img/sprite.png") no-repeat scroll -9px -16px rgba(0, 0, 0, 0);
  display: block;
  height: 24px;
  width: 24px;
}
.social-icons .fb {
background: url("../img/sprite.png") no-repeat scroll -41px -16px rgba(0, 0, 0, 0);
display: block;
height: 24px;
width: 24px;
}
.social-icons .in {
background: url("../img/sprite.png") no-repeat scroll -73px -16px rgba(0, 0, 0, 0);
display: block;
height: 24px;
width: 24px;
}

.search-field {
padding: 5px 0 0;
}
.search-field .col-md-10 {
  padding-left: 0;
  padding-right: 0;
}
.search-field .input {
  border: 1px solid #b1b1b1;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;

  color: #aaaaaa;
  font-family: Arial;
  font-size: 11pt;
  padding: 3px 12px 3px 10px;
width:100%;
}
.search-field .lens {
background: url("../img/sprite.png") no-repeat scroll -69px -98px rgba(0, 0, 0, 0);
display: block;
height: 31px;
left: -20px;
margin-left: 10px;
margin-top: -3px;
outline: medium none;
position: relative;
width: 30px;
}


.content .right-col {
  /*border-left: 1px solid;*/
/*
background: #a2a2a2; 
background: -moz-linear-gradient(left, #a2a2a2 1%, #ffffff 2%); 
background: -webkit-gradient(linear, left top, right top, color-stop(1%,#a2a2a2), color-stop(2%,#ffffff)); 
background: -webkit-linear-gradient(left, #a2a2a2 1%,#ffffff 2%); 
background: -o-linear-gradient(left, #a2a2a2 1%,#ffffff 2%); 
background: -ms-linear-gradient(left, #a2a2a2 1%,#ffffff 2%); 
background: linear-gradient(to right, #a2a2a2 1%,#ffffff 2%); 
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a2a2a2', endColorstr='#ffffff',GradientType=1 ); 
*/
}
.content .left-col {
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(left, #ffffff 98%, #a2a2a2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(98%,#ffffff), color-stop(100%,#a2a2a2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #ffffff 98%,#a2a2a2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, #ffffff 98%,#a2a2a2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, #ffffff 98%,#a2a2a2 100%); /* IE10+ */
background: linear-gradient(to right, #ffffff 98%,#a2a2a2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#a2a2a2',GradientType=1 ); /* IE6-9 */
}
@media screen and (max-width:760px) 
{
	.content .left-col
	{
background: #ffffff;
	}
}

.content .row3 {
  height: 125px;
}

