body
{
	background:#ffffff;
	text-align:center;
}

a
{
	color:blue;
	text-decoration:none;
}

#square
{
	background:#ffffff;
	border:0px solid;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
	width:650px;
	height:620px;
}

#p1
{
	border-bottom:4px solid;
	border-right:4px solid;
	float:left;
	width:60px;
	height:450px;
	margin-left:10px;
	margin-top:10px;
	padding-top: 20px;
	/*background:orange;*/
}


/*-----------------------------------------------------*/
#p2
{
	border-bottom:4px solid;
	border-left:0px solid;
	float:left;
	width:460px;
	height:450px;
	margin-top:10px;
	padding-left:10px;
	padding-top: 20px;
	background:none;
	text-align:left;
}

#p2 ul
{
	border:0px solid;
	margin-left:325px;
	margin-top:20px;
	/*margin-bottom:-25px;*/
	padding:0px;
	width:200px;
}

/*-----------------------------------------------------*/
#p3
{
	border-top:0px solid;
	border-right:0px solid;
	clear:both;
	float:left;
	width:60px;
	height:80px;
	margin-left:10px;
	margin-top:20px;
}
/*---------------------------------------------------------------------------*/
#p4
{
	border-top:0px solid;
	border-left:4px solid;
	float:left;
	width:460px;
	height:80px;
	/*background:#5A819D;*/
	padding-left:20px;
	padding-top:0px;
}
#p4 h1
{
/*
	padding:0px;
	float:right;
*/
	margin-right:10px;
	margin-top:0px;
	text-align:right;
}

/*---------------------------------------------------------------------------*/

#titul_img
{
	margin-left:20px;
	margin-top: -30px;
}

#titul_img a img
{
	border:none;
}

#more
{
    border: 0px solid;
    font-size: 12px;
	text-align:right;
	margin-top:-15px;
/*
	float:right;
	margin-right:25px;
*/
}

#mail a img
{
	border:none;
}

/*------FLAG----------------------------*/

/*
.flag
{
	border: 0px solid; 
	float: left; 
	width: 80px; 
	height: 190px; 
	margin-left: -36px;
	background: steelblue; 
}
*/

/*
.flag_part
{
	border: 0px solid; 
	width: 15px; 
	height: 30px; 
	margin-top: 10px;
	margin-left: 81px;
	background: steelBlue; 
}
*/

/*
#flag_part1
{
	margin-top: 0px;
}
*/

#flag1
{
	margin-left:-36px;
}

#flag2
{
	margin-left:-36px;
	margin-top: 10px;
}

.flag
{
	border:0px solid red; 
	text-align:left;
	width: 100px; 
	height: 190px; 
	float:left;
}

.flag_base
{
	border: 0px solid; 
	float: left;
	width: 80px; 
	height: 40px; 
	background: steelblue;
}

.flag_part
{
	border: 0px solid blue; 
	width: 15px; 
	height: 30px; 
	margin-left: 1px;
	background: steelblue;
	float: left; 
}

#flag_base_last
{
	height:30px;
}

.clear_float
{
	clear:both;
}
/*-------------------------------------*/

/*---------window----------------------------------*/
.close
{
	text-align:right;
	margin-top:0;
	margin-right: 15px;
	padding-bottom:10px;
}
.close a
{
	color:blue;
}

.window1
{
/*	border:0px solid;*/
	text-align: left;

	background:palegreen;
	/*background:#cccccc;*/

	/*border:7px outset #FFAC19;*/
	/*border: 7px double black;*/
	border:4px outset darkgreen;

	/*color:#ffffff;*/
	position: absolute;
	top: 20px;
	left: 20%;

	/*width:60%;*/
	/*min-height:400px;*/
	width:700px;
	height:490px;

	overflow-x:hidden;
	margin: 5px;
	/*margin-right: 15px;*/

	padding: 5px;
/*
	padding-top:2px;
	padding-bottom: 10px;
	padding-left: 20px;
*/
	z-index:3;
}
.window2
{
	margin: 5px;
	padding: 5px;
	text-align: left;

	background:#cccccc;
	border: 7px double black;

	position: absolute;
	top: 20px;
	left: 20%;

/*	width:60%;*/
	width:600px;
	min-height:400px;

	overflow-x:hidden;
	z-index:3;
}

.window_more_links
{
	background: none repeat scroll 0 0 palegreen;
	border: 1px solid black;
	margin: 5px 15px 5px 5px;
	padding: 2px 5px 10px 20px;
	overflow-x: hidden;
	position: relative;
	text-align: left;
	top: -145px;
	width: 300px;
	z-index: 3;
}
/*---------------------------------------------------------------------------*/
.notebooks
{
/*	border:0px solid;*/
	margin: 5px;
	padding: 5px;
	text-align: left;

	background:palegreen;
	/*background:#5A2000;*/
	/*background:#cccccc;*/

	/*border:7px outset #FFAC19;*/
	/*border: 7px double black;*/
	border:7px outset green;

	/*color:#ffffff;*/
	position: absolute;
	top: 20px;
	left: 20%;

	width:60%;
	min-height:400px;

	overflow-x:hidden;
	padding-top:2px;
	padding-bottom: 10px;
	padding-left: 20px;
	margin-right: 15px;
}

#notebook
{
	position:relative;
	left:-45px;
}

.num
{
	border:0px solid;
	margin-left: -40px;
	margin-right: 20px;
}

.notebook_author
{
	border:0px solid;

}
#txt1
{
	font-family: "Museo","Trebuchet MS",Trebuchet,Tahoma,Arial,sans-serif;
	font-size:12px;
	margin-top:20px;
	text-align:right;
}

.img_page
{
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    border: 0px solid;
    float: left;
/*
    height: 377px;
    margin-left: 45px;
    margin-right: -8px;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
*/
}

.img_page img
{
    border: 0px solid;
}

.txt_page
{
    float: left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
/*	width:300px;*/
    margin: 10px;
    padding: 20px;
    text-align: left;
}

.txt_page p
{
    float: left;
    margin-top: 0;
    margin-left: 10px;
    width: 300px;
}

/*---------------------------------------------------------------------------*/
#menu_grafika_albums_fomenko ul
{
	margin-left:30px;
	width:700px;
}

#menu_albums_fomenko
{
	margin-left:325px;
	width:200px;
}
/*---------------------------------------------------------------------------*/
#googleplus
{
	border:0px solid;
	width:200px;
	margin:auto;
	padding:10px;
}
#webmaster
{
	border:0px solid;
	width:200px;
	margin:auto;
	font-size:12px;
}
/*---------------------------------------------------------------------------*/

