<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--
https://www.iis.net/configreference/system.webserver
https://professorweb.ru/my/ASP_NET/base/level4/4_4.php
-->
	<appSettings />
	<connectionStrings />
	<system.webServer>
	
		<directoryBrowse enabled="true" showFlags="Extension, Size" />
<!--		
		<directoryBrowse enabled="true" showFlags="Date, Time, Size, Extension, LongDate" />
-->
	
	<defaultDocument enabled="true">
		<files>
			<add value="_Index.html" />
		</files>
	</defaultDocument>
   
<!--	
		+<httpRedirect enabled="true" destination="http://yandex.ru/" />
-->
		<httpProtocol>
			<customHeaders>
<!--			
				<add name="Access-Control-Allow-Origin" value="*" />
-->				
				<add name="Test" value="test1" />
			</customHeaders>
		</httpProtocol>

	</system.webServer>
</configuration>