@font-face {
    font-family: 'ticker_taperegular';
    src: url('Ticker_Tape/ticker_tape-webfont.eot');
    src: url('Ticker_Tape/ticker_tape-webfont.eot?#iefix') format('embedded-opentype'),
         url('Ticker_Tape/ticker_tape-webfont.woff2') format('woff2'),
         url('Ticker_Tape/ticker_tape-webfont.woff') format('woff'),
		url("Ticker_Tape/Ticker_Tape.ttf")  format('truetype'),
         url('Ticker_Tape/ticker_tape-webfont.svg#ticker_taperegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
font-family:hattori_hanzolight_italic;
src:url('hattori_hanzo/hattori_hanzo_italic-webfont.eot');
src:url('hattori_hanzo/hattori_hanzo_italic-webfont.eot?#iefix') format('embedded-opentype'),
url('hattori_hanzo/hattori_hanzo_italic-webfont.woff') format('woff'),
url('hattori_hanzo/hattori_hanzo_italic-webfont.ttf') format('truetype');
font-weight:400;
font-style:normal
}
@font-face {
font-family:hattori_hanzolight;
src:url('hattori_hanzo/hattori_hanzo-webfont.eot');
src:url('hattori_hanzo/hattori_hanzo-webfont.eot?#iefix') format('embedded-opentype'),
url('hattori_hanzo/hattori_hanzo-webfont.woff') format('woff'),
url('hattori_hanzo/hattori_hanzo-webfont.ttf') format('truetype');
font-weight:400;
font-style:normal
}


@font-face {
	font-family:a_Huxley;
    src: url("a_Huxley/a_Huxley Bold.eot");
    src: url("a_Huxley/a_Huxley Bold.eot?#iefix") format("embedded-opentype"),
         url('a_Huxley/a_huxley_bold-webfont.woff2') format('woff2'),
         url('a_Huxley/a_huxley_bold-webfont.woff') format('woff'),
		 url("a_Huxley/a_Huxley Bold.ttf")  format('truetype'),
         url('a_Huxley/a_huxley_bold-webfont.svg#a_huxleybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
	font-family: "AGRevueCyr";
    src: url("http://comp/fonts/A/AGREVC/AGREVC.eot");
    src: url("http://comp/fonts/A/AGREVC/AGREVC.eot") format("embedded-opentype"),
         url("http://comp/fonts/A/AGREVC/AGREVC.woff2") format("woff2"),
         url("http://comp/fonts/A/AGREVC/AGREVC.woff") format("woff"),
         url("http://comp/fonts/A/AGREVC/AGREVC.ttf") format("truetype"),
         url("http://comp/fonts/A/AGREVC/AGREVC.svg#AGREVC") format("svg");
}
*/

@font-face {
	font-family:Victorian LET Regular;
	/*src: url("Victorian_LET/victorian-let-plain.ttf")  format('truetype');*/

/* http://www.freefontconverter.com/ */
	src: url('Victorian_LET/victorian-let-regular.eot');/* EOT file for IE8 */
	src: url('Victorian_LET/victorian-let-regular.eot?#iefix') format("embedded-opentype"), /* EOT file for IE */
			url('Victorian_LET/victorian-let-regular.woff2') format('woff2'),
			url('Victorian_LET/victorian-let-regular.woff') format('woff'),
			url("Victorian_LET/victorian-let-regular.ttf")  format('truetype'),
			url("Victorian_LET/victorian-let-regular.svg")  format('svg');
}

 /* French Script MT" */
	/*src: url("../test_code/css/load_font/FRSCRIPT.TTF");*/
/*
@font-face {
    font-family: french-script-mt;
    src: url("http://graphic-art-collection.16mb.com/fonts/FRSCRIPT/FRSCRIPT.eot");
    src: url("http://graphic-art-collection.16mb.com/fonts/FRSCRIPT/FRSCRIPT.eot?#iefix") format('embedded-opentype'),
         url("http://graphic-art-collection.16mb.com/fonts/FRSCRIPT/FRSCRIPT.woff2") format('woff2'),
         url("http://graphic-art-collection.16mb.com/fonts/FRSCRIPT/FRSCRIPT.woff") format('woff'),
         url("http://graphic-art-collection.16mb.com/fonts/FRSCRIPT/FRSCRIPT.ttf") format('truetype'),
         url("http://graphic-art-collection.16mb.com/fonts/FRSCRIPT/FRSCRIPT.svg#FRSCRIPT") format('svg');
}
*/

/*
@font-face 
{
	font-family:century-gothic;
	src: url("http://graphic-art-collection.16mb.com/fonts/gothic_font/GOTHIC.eot");
	src: url("http://graphic-art-collection.16mb.com/fonts/gothic_font/GOTHIC.eot?#iefix") format("embedded-opentype"),
			url("http://graphic-art-collection.16mb.com/fonts/gothic_font/GOTHIC.woff2") format('woff2'),
			url("http://graphic-art-collection.16mb.com/fonts/gothic_font/GOTHIC.woff") format('woff'),
			url("http://graphic-art-collection.16mb.com/fonts/gothic_font/GOTHIC.ttf")  format('truetype'),
			url("http://graphic-art-collection.16mb.com/fonts/gothic_font/GOTHIC.svg")  format('svg');
}
*/

/*
@font-face 
{
	font-family:Impact;
	src: url("http://graphic-art-collection.16mb.com/fonts/impact_font/impact.eot");
	src: url("http://graphic-art-collection.16mb.com/fonts/impact_font/impact.eot?#iefix") format("embedded-opentype"),
			url("http://graphic-art-collection.16mb.com/fonts/impact_font/impact.woff2") format('woff2'),
			url("http://graphic-art-collection.16mb.com/fonts/impact_font/impact.woff") format('woff'),
			url("http://graphic-art-collection.16mb.com/fonts/impact_font/impact.ttf")  format('truetype'),
			url("http://graphic-art-collection.16mb.com/fonts/impact_font/impact.svg")  format('svg');
}
*/

/*src: url("http://rex.dax.ru/uploads/fiddums_family.ttf");*/
/*
@font-face 
{
	font-family: fiddums-family;
	src: url("http://graphic-art-collection.16mb.com/fonts/fiddums-family/fiddums-family.eot");
	src: url("http://graphic-art-collection.16mb.com/fonts/fiddums-family/fiddums-family.eot?#iefix") format("embedded-opentype"),
			url("http://graphic-art-collection.16mb.com/fonts/fiddums-family/fiddums-family.woff2") format('woff2'),
			url("http://graphic-art-collection.16mb.com/fonts/fiddums-family/fiddums-family.woff") format('woff'),
			url("http://graphic-art-collection.16mb.com/fonts/fiddums-family/fiddums-family.ttf")  format('truetype'),
			url("http://graphic-art-collection.16mb.com/fonts/fiddums-family/fiddums-family.svg")  format('svg');
}
*/

/*
@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 900;
  src: local("nothing"), url("Gilroy/Gilroy-Black.eot?#iefix") format("embedded-opentype"), url("Gilroy/Gilroy-Black.woff2") format("woff2"), url("Gilroy/Gilroy-Black.woff") format("woff"), url("Gilroy/Gilroy-Black.ttf") format("truetype"), url("Gilroy/Gilroy-Black.svg#Gilroy-Black") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 700;
  src: local("nothing"), url("Gilroy/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("Gilroy/Gilroy-Bold.woff2") format("woff2"), url("Gilroy/Gilroy-Bold.woff") format("woff"), url("Gilroy/Gilroy-Bold.ttf") format("truetype"), url("Gilroy/Gilroy-Bold.svg#Gilroy-Bold") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("nothing"), url("Gilroy/Gilroy-Extrabold.eot?#iefix") format("embedded-opentype"), url("Gilroy/Gilroy-Extrabold.woff2") format("woff2"), url("Gilroy/Gilroy-Extrabold.woff") format("woff"), url("Gilroy/Gilroy-Extrabold.ttf") format("truetype"), url("Gilroy/Gilroy-Extrabold.svg#Gilroy-Bold") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  src: local("nothing"), url("Gilroy/Gilroy-Semibold.eot?#iefix") format("embedded-opentype"), url("Gilroy/Gilroy-Semibold.woff2") format("woff2"), url("Gilroy/Gilroy-Semibold.woff") format("woff"), url("Gilroy/Gilroy-Semibold.ttf") format("truetype"), url("Gilroy/Gilroy-Semibold.svg#Gilroy-Bold") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  src: local("nothing"), url("Gilroy/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("Gilroy/Gilroy-Regular.woff2") format("woff2"), url("Gilroy/Gilroy-Regular.woff") format("woff"), url("Gilroy/Gilroy-Regular.ttf") format("truetype"), url("Gilroy/Gilroy-Regular.svg#Gilroy-Regular") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  src: local("nothing"), url("Gilroy/Gilroy-Medium.eot?#iefix") format("embedded-opentype"), url("Gilroy/Gilroy-Medium.woff2") format("woff2"), url("Gilroy/Gilroy-Medium.woff") format("woff"), url("Gilroy/Gilroy-Medium.ttf") format("truetype"), url("Gilroy/Gilroy-Medium.svg#Gilroy-Medium") format("svg");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("nothing"), url("Gilroy/Gilroy-Light.eot?#iefix") format("embedded-opentype"), url("Gilroy/Gilroy-Light.woff2") format("woff2"), url("Gilroy/Gilroy-Light.woff") format("woff"), url("Gilroy/Gilroy-Light.ttf") format("truetype"), url("Gilroy/Gilroy-Light.svg#Gilroy-Medium") format("svg");
}

body {
font-family: Gilroy;
}
*/



@font-face {
    font-family: 'ComfortaaLight';
    src: url('comfortaa/comfortaa-light.eot');
    src: url('comfortaa/comfortaa-light.eot') format('embedded-opentype'),
         url('comfortaa/comfortaa-light.woff2') format('woff2'),
         url('comfortaa/comfortaa-light.woff') format('woff'),
         url('comfortaa/comfortaa-light.ttf') format('truetype');
}


@font-face
{
	font-family: Lobster;
	src: url('Lobster/webfonts/Lobster.eot');
	src: url('Lobster/webfonts/Lobster.eot?#iefix') format('embedded-opentype'),
         url('Lobster/webfonts/Lobster.svg') format('svg'),
         url('Lobster/webfonts/Lobster.ttf') format('truetype'),
         url('Lobster/webfonts/Lobster.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family: OpenSans-BoldItalic;
src:url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-ExtraBold;
src:url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-ExtraBoldItalic;
src:url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-Italic;
src:url('OpenSans/webfonts/OpenSans-Italic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-Italic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-Italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-Light;
src:url('OpenSans/webfonts/OpenSans-Light-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-Light-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-Light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-LightItalic;
src:url('OpenSans/webfonts/OpenSans-LightItalic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-LightItalic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-LightItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-Regular;
src:url('OpenSans/webfonts/OpenSans-Regular-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-Regular-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-Semibold;
src:url('OpenSans/webfonts/OpenSans-Semibold-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-Semibold-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-Semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-SemiboldItalic;
src:url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face { font-family: 'avantgarde';
src: url('AVANTGAR/AVANTGAR.eot');
src: url('AVANTGAR/AVANTGAR.eot?#iefix') format('embedded-opentype'),
  url('AVANTGAR/AVANTGAR.woff2') format('woff2'),
  url('AVANTGAR/AVANTGAR.woff') format('woff'),
  url('AVANTGAR/AVANTGAR.ttf') format('truetype'),
  url('AVANTGAR/AVANTGAR.svg#AGREVC') format('svg');
}


@font-face {
    font-family: segoe-ui-webfont;
    src: url('segoe-ui/segoe-ui-webfont.eot');
    src: url('segoe-ui/segoe-ui-webfont.eot?#iefix') format('embedded-opentype'),
         url('segoe-ui/segoe-ui-webfont.woff') format('woff'),
         url('segoe-ui/segoe-ui-webfont.ttf') format('truetype'),
         url('segoe-ui/segoe-ui-webfont.svg#segoe-ui-webfont') format('svg');
    font-weight: normal;
    font-style: normal;
}
