body
{
	background:#222222;
}

.page
{
	/*border:0px solid red;*/
	/*width:90%;*/
	width:1024px;
	/*margin:auto;*/
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	padding-top:5px;
	padding-bottom:10px;
	/*background:#072F07;*/
	/*background:#EDD4A0;*/
	/*background:darkred;*/
}

.text_column
{
	/*border:0px solid red;*/
	background:#EDD4A0;

	/*width:60%;*/
	/*width:590px;*/
	width:450px;

	float:left;
	padding:30px;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 10px;
	margin-left: 10px;
}

.text_column p
{
	text-indent:30px;
	font-family: Verdana;
	font-size:16px;
}
.notes
{
	font-style:italic;
	font-family: Verdana;
	font-size:12px;
}

.picture_column
{
	/*border:0px solid red;*/
	/*background:darkred;*/
	/*float:left;*/
	/*margin-top: 30px;*/
	margin-bottom: 10px;
	/*margin-right: 10px;*/
	/*padding-top:30px;*/

	/*width:340px;*/
	/*width:48%;*/
}

.picture
{
	border:0px solid #ffffff;
	/*width:320px;*/
	height:580px;
	margin:10px;
	float:left;
}

.picture_column p
{
	text-align:center;
	color:#ffffff;
	margin:10px;
    margin: auto;
    padding: 5px;
    width: 300px;
}

.picture_column h2
{
	text-align:center;
	color:#ffffff;
	margin:10px;
}

.picture img
{
	/*width:300px;*/
	display:block;
	margin:auto;
	padding:10px;
	border:0px;
}

.picture a
{
	color:gold;
}

.resize
{
	border:0px solid;
	color:#ffffff;
	font-size: 12px;
	text-align:right;
}

.url_details
{
	float:left;
	margin:5px;
}

.url_details a
{
	color:#ffffff;
}

.clear_both
{
	clear:both;
}


