#square
{
	background:#ffffff;
	border:0px solid;
	margin: 5px auto;
	/*width:850px;*/
	width:700px;
	/*height:735px;*/
}

#p0
{
	display:block;
 	border: 0px solid;
 	float: left;
 	/*height: 680px;*/
 	height: 500px;
 	width: 51px;
}

#p1
{
	border-bottom:4px solid;
	border-right:2px solid;
	float:left;
	/*width:200px;*/
	width:100px;
	/*height:120px;*/
	height:80px;
	/*margin-left:10px;*/
	/*margin-top:10px;*/
}
#p2
{
	border-bottom:4px solid;
	border-left:4px solid;
	float:left;
	width:440px;
	/*height:120px;*/
	height:80px;
	/*margin-top:10px;*/
}
#p3
{
	border-top:2px solid;
	border-right:4px solid;
	/*clear:both;*/
	float:left;
	/*width:200px;*/
	width:100px;
	/*height:558px;*/
	/*height:500px;*/
	/*margin-left:10px;*/
}

#p4
{
	border-top:2px solid;
	border-left:2px solid;
	float:left;
	width:440px;
	/*height:558px;*/
	height:530px;
	margin:0px;
}

#p5
{
    border: 0px solid;
    display: block;
    float: left;
    margin-top: -120px;
    /*width: 150px;*/
    width: 100px;
    /*height: 678px;*/
}

#p6
{
	display:block;
    border: 0px solid red;
    clear: both;
    height: 50px;
    /*width: 850px;*/
}

#p7
{
	display:block;
    border: 0px solid red;
    height: 103px;
}

#title
{
    border: 0 solid;
    font-size: 30px;
    left: 30px;
    position: relative;
    top: -15px;
    width: 300px;
}

#left_arrow
{
    left: -55px;
    position: relative;
    top: 58px;
}
#left_box1
{
    background: none repeat scroll 0 0 #000000;
    border: 0 solid;
    height: 30px;
    left: 7px;
    position: relative;
    top: 67px;
    width: 20px;
}
#left_box2
{
    background: none repeat scroll 0 0 #000000;
    height: 20px;
    left: 29px;
    position: relative;
    top: 43px;
    width: 22px;
}

#right_arrow
{
    left: 48px;
    position: relative;
    top: 42px;
}
#right_box1
{
    background: none repeat scroll 0 0 #000000;
    border: 1px solid;
    height: 30px;
    left: 24px;
    position: relative;
    top: 82px;
    width: 20px;
}

#right_box2
{
    background: none repeat scroll 0 0 #000000;
    height: 20px;
    left: 0;
    position: relative;
    top: 108px;
    width: 22px;
}

#top_arrow
{
    left: 129px;
    position: relative;
    top: 0;
/*
    float: left;
    left: 129px;
    margin-left: 129px;
*/
}

#top_box1
{
    background: none repeat scroll 0 0 #000000;
    border: 0 solid;
    height: 20px;
    left: 139px;
    position: relative;
    top: 62px;
    width: 30px;
/*
    background: none repeat scroll 0 0 #000000;
    border: 0 solid;
    float: left;
    height: 20px;
    margin-left: -40px;
    margin-top: 62px;
    width: 30px;
*/
}

#top_box2
{
    background: none repeat scroll 0 0 #000000;
    border: 0 solid;
    height: 20px;
    left: 144px;
    position: relative;
    top: 64px;
    width: 20px;
/*
    background: none repeat scroll 0 0 #000000;
    border: 0 solid;
    float: left;
    height: 20px;
    margin-left: -35px;
    margin-top: 84px;
    width: 20px;
*/
}

#bottom_box
{
    background: none repeat scroll 0 0 #000000;
    border: 1px solid;
    height: 20px;
    left: 143px;
    position: relative;
    top: -20px;
    width: 20px;
}
/*-------------------------------------------------------------------------------*/
#thumb_col
{
	position: relative;
	left: -100px;
	border:0px solid;
	float:left;
	margin-top:30px;
	margin-left:15px;
/*
	margin-right:20px;
	padding:10px;
	height:600px;
*/
	/*overflow:hidden;*/
}
#thumb_col img
{
/*
	width:120px;
	height:120px;
*/
	display:block;
	margin:auto;
	border:0;
}

.picture
{
	width:160px;
/*
	height:170px;
*/
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid;
	margin:5px;
}

.img_area
{
	border: 0px solid;
	width: 410px;
	margin-left: 10px;
}
.pager
{
	border:0px solid;
	text-align:center;
	margin-bottom: -10px;
	margin-top: 10px;
	font-size:12px;
}

#preview_img
{
	border:0px solid;
	/*float:left;*/
	margin-top:20px;
	margin-left:10px;
	/*height:440px;*/
/*
	position:relative;
	top:50px;
	left:100px;
*/
}
#preview_img img
{
	width:380px;
	display:block;
	margin:auto;
}
#preview_img_caption
{
	border:0px solid;
	/*width:380px;*/
	/*clear:both;*/
	text-align:center;
	margin-top: 10px;
}

.img_info
{
	display:none;
}

.more_links
{
	margin-top:150px;
}

/*----------romb, corners--------------------------------------*/
.down_arrow
{
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	border-left-width: 50px;
	border-right-width: 50px;
	border-top: 50px solid red;
	width: 0;
	height: 0;
	/*float:left;*/
	margin-left:35px;
}
.down_arrow a
{
	display:block;
	border: 0px solid;
	width: 100px;
	height: 50px;
	margin-left: -50px;
	margin-top: -50px;
}

.up_arrow
{
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	border-left-width: 50px;
	border-right-width: 50px;
	border-bottom: 50px solid red;
	width: 0;
	height: 0;
	/*float:left;*/
	margin-left:35px;
}

.up_arrow a
{
	display:block;
	border: 0px solid;
	width: 100px;
	height: 50px;
	margin-left: -50px;
	cursor:hand;
}

.top-corner-right
{
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	border-left-width: 0px;
	border-right-width: 25px;
	border-bottom: 60px solid #000000;
	width: 0;
	height: 0;
	float:left;
}

.top-corner-left
{
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	border-left-width: 25px;
	border-right-width: 0px;
	border-bottom: 60px solid #000000;
	width: 0;
	height: 0;
	float:left;
}

.left-corner-top
{
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	border-left-width: 60px;
	/*border-right-width: 50px;*/
	border-bottom: 25px solid #000000;
	width: 0;
	height: 0;
	float:left;
}

.left-corner-bottom
{
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	border-left-width: 60px;
	/*border-right-width: 50px;*/
	border-top: 25px solid #000000;
	width: 0;
	height: 0;
	float:left;
}

.right-corner-top
{
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	/*border-left-width: 60px;*/
	border-right-width: 60px;
	border-bottom: 25px solid #000000;
	width: 0;
	height: 0;
	/*float:left;*/
}

.right-corner-bottom
{
	border-width: 0;
	border-color: transparent;
	border-style: solid;
	/*border-left-width: 60px;*/
	border-right-width: 60px;
	border-top: 25px solid #000000;
	width: 0;
	height: 0;
	float:left;
}


