body
{
	background:#ffffff !important;
}

/*
#top_arrow
{
    left: 129px !important;
    position: relative;
    top: 0;
}
*/

#top_box1
{
    position: relative;
    left: 90px;
    top: 62px;
}

#top_box2
{
    position: relative;
    left: 94px;
    top: 64px;
}


#left_arrow
{
    left: -54px;
    position: relative;
    top: 58px;
}
#left_box1
{
    left: 8px;
    position: relative;
    top: 17px;
}
#left_box2
{
    left: 29px;
    position: relative;
    top: -7px;
}


/*
#right_box1
{
	margin-left:-77px;
}

#right_box2
{
	margin-left:-77px;
}

.right-corner-top
{
	margin-left:-40px;
}

.right-corner-bottom
{
}
*/

/*
#bottom_box
{
    position: relative;
    left: -196px;
    top: -20px;
}
*/
/*
.down_arrow
{
	margin-left:10px;
}

.up_arrow
{
	margin-left:10px;
}
*/

