@font-face {
    font-family: 'bn_emulatorregular';
    src: url('emulator-webfont.eot');
    src: url('emulator-webfont.eot?#iefix') format('embedded-opentype'),
         url('emulator-webfont.woff2') format('woff2'),
         url('emulator-webfont.woff') format('woff'),
         url('emulator-webfont.ttf') format('truetype'),
         url('emulator-webfont.svg#bn_emulatorregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Calibri';
    src: url('Calibri.eot');
    src: url('Calibri.eot?#iefix') format('embedded-opentype'),
         url('Calibri.woff2') format('woff2'),
         url('Calibri.woff') format('woff'),
         url('Calibri.ttf') format('truetype'),
         url('Calibri.svg#Calibri') format('svg');
    font-weight: normal;
    font-style: normal;
}

