/*--------------------TEXT --------------------------------------------*/
.notes
{
	font-style:italic;
	font-family: Times New Roman;
	font-size:18px;
}

.term
{
    /*color: red;*/
	font-weight:bold;
}

.name
{
    /*color: green;*/
	font-family: Arial;
	color: maroon;
	font-weight:bold;
}

.picture_text
{
	font-family: Trebuchet MS;
	color: darkblue;
	font-weight:bold;
}
/*---------------------------------------------------------------------*/
.created
{
	font-size:10px;
}
