.count_result_search
{
	margin-left:20px;
	margin-bottom:20px;
}

.search_result
{
	border:0px solid;
	width:90%;
	margin-left:20px;
	margin-bottom:30px;
}

.search_result_url
{
	background:palegreen;
	padding: 10px;
}

.search_result_url a
{
	color:blue;
	font-size: 18px;
}

.search_result_text
{
	font-size:14px;
}

.replace_text
{
	font-size:16px;
	font-weight:bold;
	color:red;
}

.bottom_text
{
	border:0px solid;
	width:90%;
	margin-left:20px;
	margin-bottom:30px;
	text-align:center;
}

