body
{
	background:#ffffff;
	text-align:center;
}

a
{
	color:blue;
	text-decoration:none;
}

#square
{
	background:#ffffff;
	border:0px solid;
	margin-top:60px;
	margin-left: auto;
	margin-right: auto;
	width:600px;
	height:640px;
}

#p1
{
	border-bottom:4px solid;
	border-right:2px solid;
	float:left;
	width:60px;
	height:450px;
	margin-left:10px;
	margin-top:10px;
	/*padding-top: 20px;*/
	/*background:orange;*/
}


/*-----------------------------------------------------*/
#p2
{
	border-bottom:4px solid;
	border-left:2px solid;
	float:left;
	width:460px;
	height:450px;
	margin-top:10px;
	padding-left:10px;
	/*padding-top: 20px;*/
	background:none;
	text-align:left;
}

#p2 ul
{
	border:0px solid;
	margin-left:20px;
	margin-top:30px;
	padding:0px;
}

/*-----------------------------------------------------*/
#p3
{
	border-top:0px solid;
	border-right:0px solid;
	clear:both;
	float:left;
	width:60px;
	height:80px;
	margin-left:10px;
	margin-top:20px;
}
/*---------------------------------------------------------------------------*/
#p4
{
	border-top:0px solid;
	border-left:4px solid;
	float:left;
	width:460px;
	height:80px;
	/*background:#5A819D;*/
	padding-left:20px;
	padding-top:0px;
}
#p4 h1
{
	margin:0px;
	padding:0px;
	text-align:left;
}

#notebook_txt
{
	position:relative;
	left:-15px;
	top:-5px;
}

.notebook_main
{
	border:3px outset #000000;
	background:#2C3F66;
	width:40px;
	height:35px;
	font-size: 12px;
	margin-top:1px;
}

.notebook_main a
{
	color:#ffffff;
	display:block;
	padding-top:10px;
}

.notebook_author
{
	border:0px solid;
	font-size:12px;
}

#txt1
{
	float:right;
	font-family: "Museo","Trebuchet MS",Trebuchet,Tahoma,Arial,sans-serif;
	font-size:14px;
	margin-top:20px;
	margin-bottom: -5px;
	text-align:left;
	border: 0px solid;
	width:140px;
}

#txt1 a
{
	display:block;
	margin-bottom:0px;
}

#notebooks_horizontal_line
{
	border:1px solid;
}

#notebooks_horizontal_line
{
	border:1px solid;
	margin-top:390px;
}

#notebooks_horizontal_line .notebook_main
{
	border:3px outset #000000;
	background:#2C3F66;
	float:left;
	width:40px;
	height:35px;
	font-size: 12px;
	margin-left:3px;
	margin-top:5px;
}
#notebooks_horizontal_line .notebook_main a
{
	display:block;
	padding-left:10px;
}

.img_page
{
    /*background: none repeat scroll 0 0 #FFFFFF;*/
    border: 0px solid;
    float: left;
/*
    height: 377px;
    margin-left: 45px;
    margin-right: -8px;
    margin-top: 10px;
    padding: 10px;
    width: 300px;
*/
}

.img_page img
{
    border: 0px solid;
}

.txt_page
{
    float: left;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
/*	width:300px;*/
    margin: 10px;
    padding: 20px;
    text-align: left;
}

.txt_page p
{
    float: left;
    margin-top: 0;
    margin-left: 10px;
    width: 300px;
}

#more
{
    border: 0px solid;
	float:right;
	padding:3px;
    font-size: 11px;
	width:205px;
}

#more_links a
{
	font-size:11px;
}

#mail a img
{
	border:none;
}

/*------------------------------------------------------*/
#google_adsense
{
	position:absolute;
	left:74%;
	top:30px;
}

/*---------window----------------------------------*/
.close
{
	text-align:right;
	margin-top:0;
	margin-right: 15px;
	padding-bottom:10px;
}
.close a
{
	color:blue;
}

.window1
{
/*	border:0px solid;*/
	text-align: left;

	background:palegreen;
	/*background:#cccccc;*/

	/*border:7px outset #FFAC19;*/
	/*border: 7px double black;*/
	border:4px outset darkgreen;

	/*color:#ffffff;*/
	position: absolute;
	top: 20px;
	left: 20%;

	/*width:60%;*/
	/*min-height:400px;*/
	width:700px;
	height:490px;

	overflow-x:hidden;
	margin: 5px;
	/*margin-right: 15px;*/

	padding: 5px;
/*
	padding-top:2px;
	padding-bottom: 10px;
	padding-left: 20px;
*/
	z-index:3;
}
.window2
{
	margin: 5px;
	padding: 5px;
	text-align: left;

	background:#cccccc;
	border: 7px double black;

	position: absolute;
	top: 20px;
	left: 20%;

/*	width:60%;*/
	width:600px;
	min-height:400px;

	overflow-x:hidden;
	z-index:3;
}

.window_more_links
{
	background: none repeat scroll 0 0 palegreen;
	border: 1px solid black;
	margin: 5px 15px 5px 5px;
	padding: 2px 5px 10px 20px;
	overflow-x: hidden;
	position: relative;
	text-align: left;
	top: -145px;
	width: 300px;
	z-index: 3;
}

.close
{
	text-align:right;
	margin-top:0;
	margin-right: 15px;
	padding-bottom:10px;
}
/*---------------------------------------------------------------------------*/
#menu_grafika_albums_fomenko ul
{
	margin-left:10px;
}
/*---------------------------------------------------------------------------*/
#google_adsense_002
{
	position:absolute;
	left:74%;
	top:30px;
}

#google_adsense_003
{
	position:absolute;
	left:10%;
	top:30px;
}
/*---------------------------------------------------------------------------*/


