@font-face {
    font-family: 'ComfortaaLight';
    src: url('comfortaa/comfortaa-light.eot');
    src: url('comfortaa/comfortaa-light.eot') format('embedded-opentype'),
         url('comfortaa/comfortaa-light.woff2') format('woff2'),
         url('comfortaa/comfortaa-light.woff') format('woff'),
         url('comfortaa/comfortaa-light.ttf') format('truetype');
}


@font-face
{
	font-family: Lobster;
	src: url('Lobster/webfonts/Lobster.eot');
	src: url('Lobster/webfonts/Lobster.eot?#iefix') format('embedded-opentype'),
         url('Lobster/webfonts/Lobster.svg') format('svg'),
         url('Lobster/webfonts/Lobster.ttf') format('truetype'),
         url('Lobster/webfonts/Lobster.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family: OpenSans-BoldItalic;
src:url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-BoldItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-ExtraBold;
src:url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-ExtraBold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-ExtraBoldItalic;
src:url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-ExtraBoldItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-Italic;
src:url('OpenSans/webfonts/OpenSans-Italic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-Italic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-Italic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-Italic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-Light;
src:url('OpenSans/webfonts/OpenSans-Light-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-Light-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-Light-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-Light-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-LightItalic;
src:url('OpenSans/webfonts/OpenSans-LightItalic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-LightItalic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-LightItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-Regular;
src:url('OpenSans/webfonts/OpenSans-Regular-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-Regular-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-Regular-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-Semibold;
src:url('OpenSans/webfonts/OpenSans-Semibold-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-Semibold-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-Semibold-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face
{
font-family:OpenSans-SemiboldItalic;
src:url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.eot');
src:url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.svg') format('svg'),
         url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.ttf') format('truetype'),
         url('OpenSans/webfonts/OpenSans-SemiboldItalic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


