.img-container
 {
	border: 1px solid;
	box-shadow: 5px 5px silver;
	float: left;
	margin: 5px;
	padding: 5px;  
/*  
  height: 260px;
  */
	width: 180px;
}

.img-container:hover
{
    box-shadow: 0 0 5px inset;
}

.img-container .picture {
  margin-top: 10px;
  text-align: center;
}

.img-caption {
  text-align: center;
}
