/* fix Bootstrap */
header .nav-tabs .btn:hover {
	background-color: orange;
	color: #000 !important;
}
header .nav-tabs .btn:focus {
	background: orange;
	color: #000 !important;
}

.nav-tabs {
	/* border-bottom: transparent; */
	margin-bottom: 10px;
}

.alert {
	margin-bottom: 5px !important;
	padding: 7px !important;
}

header .navbar {
    margin-bottom: 0;
}
.alert-warning {
	color: #000;
	background-color: #ffb515;
	border-color: #8a6d3b;
}



body {
  background-color: #315570;  /*#2c5885*/  /*#2c5885*/  /*#6aa6c0*/
  margin: 0;
  padding: 15px;
}
.touch{
background-color: #5E789C;
}

.container {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
/*
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
*/
  padding: 20px;
}

header {
  margin-bottom: 5px;
}
#tags .panel {
/*
  border: 7px double #000;
*/
border:none;
}

footer {
  margin-top: 5px;
  margin-bottom: 5px;
/*
    padding: 10px 10px 0px 10px !important;
    background-color: #fff;  
*/
}

footer .bg-darkblue {
  border-radius: 5px;
  padding: 5px;
}


.log-panel{
background-color: #f8f9fa;
margin-top: 5px;
margin-bottom: 0;
border:none;
/* border:1px solid #ddd; */
	/*border-radius: 5px;*/
-webkit-box-shadow: none;
box-shadow: none;
/*	
position: fixed;
bottom: 10px;
z-index: 9999;
*/
/*
right: 10px;
clear:both;
width: 80%;
*/
/*position: absolute;*/
	/*position:fixed;*/
}
.log-panel .panel-body{
    padding: 5px;
}

.close {
display: block;
float: right;
left: 5px;
position: relative;
top: -10px;
}

#clear-log {
/*
	position: relative;
	top: -9px;
	left: 9px;
*/
}

.log-panel span {
/*
	margin-top: 2px;
	margin-right: 7px;
*/
}

.log-panel span a{
text-decoration:none;
outline: none;
}

#log{
/*
word-break: break-all;	
font-size: 75%;	
*/
}
/*
#log .alert
{
margin-bottom: 0;
padding: 10px;
}
*/

/*
#log p
{
margin: 0;
}
*/



#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -45px;
	display:none;
}


.video-title a{
color: #fff;
/*
display:block;
*/
}

.toggle-btn-hide{
 -webkit-transform:rotate(90deg);
 -moz-transform:rotate(90deg);
 -ms-transform:rotate(90deg);
 -o-transform:rotate(90deg);
 transform:rotate(90deg);
/* 
 padding-top: 2px !important; 
*/ 
}

.toggle-btn-show{
 -webkit-transform:rotate(270deg);
 -moz-transform:rotate(270deg);
 -ms-transform:rotate(270deg);
 -o-transform:rotate(270deg);
 transform:rotate(270deg);
/* 
 padding-top: 2px !important; 
*/ 
}

.toggle-btn{
 text-align:center;
 color:#000;
 font-weight: bold;
/*
padding: 6px 12px 10px 14px; 
*/
 border-radius:5px;
 background-color: #fff/*#c7d5ec*/;
 margin-left: 3px;
}
/*
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.toggle-btn:active,
.toggle-btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
* 
* 
*/

.toggle-btn:hover{
  color: #333;
    background-color: #c7d5ec/*#afeeee*//*#f89406*/;
    border-color: #afeeee/*#ffa500*/;
}

.toggle-btn:focus,
.toggle-btn.focus {
  outline: none;
}


/*
.play-buttons a {
	margin: 1px;
}
*/


#app-title {
    font-family: a_Huxley;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
	text-shadow: 6px 5px 4px #bebebe;    
}
@media screen and (max-width:768px) 
{ 
	#app-title{
		display:none;
	}
}


.video-list-item{
/*
  float: left;
  margin-left: 5px;
  width: 150px;
  height: 200px;
*/
/*box-shadow: 5px 5px 8px #000;*/
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;

margin-bottom: 7px !important;
}

/*
.video-list-item .thumbnail{
width:50%;
}
.video-list-item .pull-left{
width:50%;
}
.video-list-item .thumbnail img{
width:100%;
}

*/

.video-list-item ul {
	padding: 0;
}

.video-list-item .mark {
	padding: 10px;
	border-radius:6px;
}

.video-list-item .roles {
	background: #D0CCD5;
	padding: 10px;
	border-radius: 6px;
	margin:5px;
}

.video-list-item .links .list-inline > li {
	margin-bottom: 5px;
}

.video-list-item .btn-orange {
	max-width: 100%;
	font-size: 100%;
}


#pager{
position:fixed;
right:20px;
top:145px;
z-index: 9999;
}

.touch #pager {
background-color:#ccffff;
position:static;
}
@media screen and (max-width:1280px) 
{ 
	#pager{
		background-color:#def;
		position:static;
	}
}


.block-num-page {
	padding: 5px;
}
#page-number {
display:inline;
width: 50px;
/*
margin-left:10px;
*/
margin-bottom: 5px;
text-align: center;
}
#page-number-less {
position: relative;
bottom: -3px;
left: -1px;
}
#page-number-more {
position: relative;
bottom: -3px;
left: 1px;
}


.block{
box-shadow: 5px 5px 15px #4f5a6e;
}
#block-links .block {
	box-shadow: none;
}

#block-playlist {
	position: fixed;
	left: 0;
}


.type-videoclip .panel-heading{
color:#000
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/::-moz-range-thumb */
/*
input[type=range]::-moz-range-track {
  background-color: green;
}
input[type=range]::-webkit-slider-runnable-track {
  background-color: red;
}
input[type=range]::-ms-track {
  background-color: orange;
}

input[type=range]::-moz-range-thumb {
  background-color: green;
}
input[type=range]::-ms-thumb {
  background-color: maroon;
}
input[type=range]::-webkit-slider-thumb{
  background-color: blue;
  
input[type=range]::-ms-fill-lower {
	background-color: #5082e0;	
}
input[type=range]::-moz-range-progress {
	background-color: #5082e0;	
}
*/
  
/*
	-webkit-appearance: none;
	width:18px;
	height:18px;
	background:#D4D4D4;
	border-radius:18px;
	cursor:pointer;
	transition:.1s;
*/
}


/*
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

input[type=number]{
  -moz-appearance: textfield;
}
*/
