/* fix Bootstrap */
header .nav-tabs .btn:hover {
	background-color: orange;
	color: #000 !important;
}
header .nav-tabs .btn:focus {
	background: orange;
	color: #000 !important;
}

.nav-tabs {
	/* border-bottom: transparent; */
	margin-bottom: 10px;
}

.alert {
	margin-bottom: 5px !important;
	padding: 7px !important;
}

header .navbar {
    margin-bottom: 0;
}




body {
  background-color: #315570/*#2c5885*//*#6aa6c0*/;
  margin: 0;
  padding: 15px;
}
.container {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
/*
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
*/
  padding: 20px;
}

header {
  margin-bottom: 5px;
}
header.container {
/*
  padding: 0 20px;
*/
}

footer {
  margin-top: 5px;
  margin-bottom: 5px;
/*
    padding: 10px 10px 0px 10px !important;
    background-color: #fff;  
*/
}

.bg-darkblue {
  background-color: #004586;
}
.bg-darkblue a{
  color: #fff;  
}

footer .bg-darkblue {
  border-radius: 5px;
  padding: 5px;
}

    

.btn-blue-c4 {
    color: #fff;
	background-color: #269abc;
/*
    border-color: #2e6da4;	
*/
}



.log-panel{
	background-color: #ffcc99; /*#c9d9c9;*/
/*background-color:#fff4e1*/;
margin-top: 5px;
margin-bottom: 10px;
/* border:1px solid #ddd; */
	border-radius: 5px;
/*	
position: fixed;
bottom: 10px;
z-index: 9999;
*/
/*
right: 10px;
clear:both;
width: 80%;
*/
/*position: absolute;*/
	/*position:fixed;*/
}

.close {
display: block;
float: right;
left: 5px;
position: relative;
top: -10px;
}

#log{
word-break: break-all;	
font-size: 75%;	
}


#clear-log {
	position: relative;
	top: -9px;
	left: 9px;
}
.log-panel span {
	margin-top: 2px;
	margin-right: 7px;
}
.log-panel span a{
text-decoration:none;
outline: none;
}

#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -45px;
	display:none;
}


.video-title a{
color: #fff;
/*
display:block;
*/
}

.toggle-btn{
 -webkit-transform:rotate(90deg);
 -moz-transform:rotate(90deg);
 -ms-transform:rotate(90deg);
 -o-transform:rotate(90deg);
 transform:rotate(90deg);
 text-align:center;
}

.play-buttons a {
	margin: 1px;
}

.roles {
	background: #D0CCD5;
	padding: 10px;
	border-radius: 3px;
}

#app-title {
    font-family: a_Huxley;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
}

.video-list-item{
  float: left;
  margin-left: 5px;
  width: 150px;
  height: 200px;
}
