@import url("header.css");
@import url("content.css");
@import url("footer.css");


* { margin: 0px; padding: 0px; }

html, body { width: 100%; height: 100%; padding: 0; margin: 0; }

a { outline: none; -moz-outline: 0; border: none; border-width: 0px; }
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }

img { border: none; border-width: 0px; }

.clear { clear: both; font-size: 0pt; line-height: 0px; height: 0; }

#main { width: 1000px; min-height: 100%; position: relative; margin: 0px auto; background-color: #fff; }
*html #main { height: 100%; }



#main { font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 13px; line-height: 1.1; color: #000; }

a { text-decoration: none; color: #000; }
a:hover { text-decoration: underline; }

table { border-collapse: collapse; }
input { font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 13px; color: #000; outline: none; }
textarea { font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 13px; color: #000; outline: none; resize: none; }
select { font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 13px; color: #000; outline: none; }

h2 { font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 24px; line-height: 1.1; color: #000; margin: 0 0 16px; }
h3 { font-family: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif; font-size: 20px; line-height: 1.1; color: #000; }
h4 { }

.view_all { color: #0057e7; font-size: 15px; font-weight: bold; padding: 0 16px 0 0; background: url("../images/ic1.png") right 3px no-repeat; }
.back{
	color: #0057e7; font-family:Arial; font-size: 15px; font-weight: bold; padding: 0 0 0 16px; background: url("../images/back.png") left 3px no-repeat;}
