/*
font-family: "FiraSans";
#messages {
height: 50%;
overflow-y: scroll;
}
*/

#log .alert {
margin-bottom: 0;
padding: 10px;
}
#log p{
margin: 0;
}

/* .top { */
  /* background: #0088cc none repeat scroll 0 0; */
  /* border-radius: 5pc; */
  /* bottom: -35px; */
  /* cursor: pointer; */
  /* height: 70px; */
  /* left: 49%; */
  /* line-height: 25px; */
  /* opacity: 0.7; */
  /* position: fixed; */
  /* text-align: center; */
  /* width: 70px; */
/* } */
/* .top a { */
  /* outline: medium none; */
  /* text-decoration: none; */
/* } */
/* .top .arrow { */
  /* border-left: 5px solid #ffffff; */
  /* border-top: 5px solid #ffffff; */
  /* font-size: 30px; */
  /* height: 20px; */
  /* margin-left: 23px; */
  /* margin-top: 18px; */
  /* transform: rotate(45deg); */
  /* width: 20px; */
/* } */

#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -40px;	
}
/*
@media screen and (max-width:359px){ 
	#btn-scroll-to-top {
		left: 39%;
	}
}*/

#control-btn .btn {
  margin-top: 5px;
}

#wait-window.modal-dialog {
background-color: rgb(200, 200, 250);
border-radius: 10px;
left: 50%;
margin-left: -290px;
padding: 10px;
position: fixed;
top: 25% !important;
z-index: 1042;
}
#wait-window h1 {
color: #000;
/*font-size: 400%;*/
}

#wait-window .loader {
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
margin: auto;
animation: spin 2s linear infinite;
}
#wait-window .loader2 {
border-bottom: 16px solid #3498db;
border-top: 16px solid #3498db;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
