.lr-tab-pane, .tab-pane {display:none;}
.lr-tab-active, .tab-active {display:block !important;}

.lr-btn-active, .btn-active {
background-color: #1e90ff !important;
/*color:#000 !important;*/
}

#tab-buttons ul {margin:0;}

.arrows {
	background-image: url("../img/icon_black_change_direction.svg");
/*
	background-image: url("../img/icon_black_change_direction.png");
	width: 40px;
	height: 40px;
*/
	background-repeat: no-repeat;
	background-position: center;
	/* background-size: contain; */
	background-size: 100%;
	padding: 20px 30px;
}

.icon-train {
	/*height: 30px;*/
	width: 30%;
	/*color: #1dc11d;*/
}
.filter-green{
    filter: invert(85%) sepia(32%) saturate(6425%) hue-rotate(66deg) brightness(81%) contrast(104%);
}

body.touch {
	background-color: #003366 !important;
}

.thermometer {
	width: 25px;
	height: 410px;
	background-color: #f5f5f5;
	border: 1px solid #000;
	position: relative;
	border-radius: 10px;
}
.thermometer .grad-fluid {
	background-color: red;
	height: 200px;
	position: absolute;
	bottom: 5px;
	left: 50%;
	width: 9px;
	margin-left: -4px;
	border-radius: 0 0 5px 5px;
}

.temp-scale {
	height: 400px;
	background-color: #fdf5e6;
}

.temp-scale .grad-cell {
display:flex;
align-items:center;
height: 19.5px;
}

.temp-scale .grad-line {
	border-bottom: 2px solid #00f;
	width: 10px;
	height: 3px;
	/* display: block; */
	margin-right: 3px;
}
.temp-scale .grad-mark {
	font-size: 10px;
}
.temp-scale .short-line {
	width: 5px;
	/* margin-right: 1px; */
	/* font-size: 10px; */
}

.temp-feels-like {
	width: 12px;
	height: 5px;
	background-color: #ffa500;
	position: absolute;
	bottom: 0px;
	/* left: -10px; */
	/* z-index: 3; */
	/* border-bottom: 5px solid #fff; */
}

.btn-direction-wrap {
	line-height: 150px;
	padding: 0 5px 0 5px;
}	

@media screen and (max-width:640px){
	.lr-container {
		width: 100%;
		padding: 0;
	}

	.log-panel {
		position: static !important;
	}

	.log-panel  .lr-panel-body {
		padding: 5px;
		word-wrap: break-word;
	}
}

@media screen and (max-width:500px){
}

@media screen and (max-width:360px){
}
