body {
  background-color: #055c80;
  margin: 0;
  padding: 15px;
}

.container {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
/*
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
*/
  padding: 20px;
}

header {
  margin-bottom: 5px;
}
#tags .panel {
/*
  border: 7px double #000;
*/
border:none;
}

footer {
  margin-top: 5px;
  margin-bottom: 5px;
/*
    padding: 10px 10px 0px 10px !important;
    background-color: #fff;  
*/
}

/* LOG panel */
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
	background-color: #b0c4de;
	position: fixed;
	bottom: 0;
	right:0;
	z-index: 999;
	opacity: 0.9;
	border-radius: 4px;
}

.log-panel .panel-body{
	padding: 5px;
}

.log-panel span a{
text-decoration:none;
outline: none;
}

#log{
/*	
	height: 400px;
	overflow-y: auto;	
*/	
}

#btn-clear-log {
/*	
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
*/	
}

#log .alert {
margin-bottom: 0;
padding: 10px;
}

#log p{
margin: 0;
}


#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -45px;
	display:none;
}

#app-title {
    font-family: a_Huxley;
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
	text-shadow: 6px 5px 4px #bebebe;
}
@media screen and (max-width:768px) 
{
	#app-title{
		display:none;
	}
}
