html, body{

height:100%;

margin:0;

padding:0;

}


body {
  background-color: #055c80;
  margin: 0;
  padding: 15px;
}

a {
	color: #337ab7;
	text-decoration: none;
}

.header {

	padding: 1px;

	background-color: #e6e6fa;

}



.header h1 {

	text-align: center;

	padding: 0;

}

.container {

width: 80%;

margin: auto;

padding: 20px;
}

.container {
  background-color: #f8f9fa;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
/*
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
*/
}

header {
  margin-bottom: 5px;
}
#tags .panel {
/*
  border: 7px double #000;
*/
border:none;
}

footer {
  margin-top: 5px;
  margin-bottom: 5px;
/*
    padding: 10px 10px 0px 10px !important;
    background-color: #fff;  
*/
}

/* GRID */
.w10{

	width:10%;

}

.w20{

	width:20%;

}

.w25{

	width:25%;

}

.w30{

	width:30%;

}

.w33{

	width:33%;

}

.w50{

	width:50%;

}

.w60{

	width:60%;

}

.w65{

	width:65%;

}

.w70{

	width:70%;

}

.w80{

	width:80%;

}

.w90{

	width:90%;

}



.row {

	/* float: none; */

	clear: both;

	overflow: hidden;

}

.pull-left {

	float: left;

}

.pull-right {

	float: right;

}

.text-right{

text-align:right;

}

.text-center{

text-align:center;

}

/*================================*/


/* LOG panel */
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
	background-color: #b0c4de;
	position: fixed;
	bottom: 0;
	right:0;
	z-index: 999;
	opacity: 0.9;
	border-radius: 4px;
}

.log-panel .panel-body{
	padding: 5px;
}

/*.log-panel span a{
text-decoration:none;
outline: none;
}*/

/*
#log .alert {
margin-bottom: 0;
padding: 10px;
}*/

#log{
/*	
	height: 400px;
	overflow-y: auto;	
*/	
}

/*#log p{
margin: 0;
}*/


.alert {
	padding: 15px;
	margin-bottom: 20px;

	border: 1px solid transparent;

	border-radius: 4px;

}

.alert-warning {

	color: #000;

	background-color: #ffb515;

	/*border-color: #8a6d3b;*/

}

.alert-info {

	color: #31708f;

	background-color: #d9edf7;

	border-color: #bce8f1;

}

.alert-success {

	color: #3c763d;

	background-color: #dff0d8;

	border-color: #d6e9c6;

}

.alert-danger {

	color: #a94442;

	background-color: #f2dede;

	border-color: #ebccd1;

}

#btn-clear-log {
/*	
	position: fixed;
	top: 0;
	right: 0;
	z-index: 1000;
*/	
}
/*============================*/





/* PANELS */
.panel {
	margin-bottom: 20px;
	background-color: #fff;
	border: 1px solid transparent;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-heading {
	padding: 10px 15px;
	border-bottom: 1px solid transparent;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.panel-body {
	padding: 15px;
}


/* LIST */
.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline {
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}
.list-inline > li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}
.list-group-item {
	position: relative;
	display: block;
	padding: 10px 15px;
	margin-bottom: -1px;
	background-color: #fff;
	border: 1px solid #ddd;
}

/* FORMS */
input[type="range"] {
	display: block;
	width: 100%;
}
.form-control {
	display: block;
	width: 100%;
	height: 34px;
	padding: 6px 12px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/* BUTTONS */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
}

.btn-blue {

	background-color: #007bff;

	color: #fff;

	-webkit-box-shadow: inset 0 36px 38px -38px #fff;

	-moz-box-shadow: inset 0 36px 38px -38px #fff;

	box-shadow: inset 0 36px 38px -38px #fff;

	

  font-family: avantgarde;

  font-size: 14px;

  font-weight: 400;

}

.btn-blue:hover {

	background-color: #ff8c00 !important;

	color: #000 !important;

}

.btn-blue:focus {

	color: #fff !important;

	outline: 0;

}

.btn-blue:active:focus {

	color: #000 !important;

}

.btn-blue:active {

	/*color:  #fff !important;*/

}

.btn-blue:visited {

	/*color:  #000 !important;*/

}



.btn-blue-c4 {

    color: #fff;

	background-color: #269abc;

}

.btn-blue-c4:hover {

	background-color: #ff8c00;

	color: #000 !important;

}

.btn-blue-c4:focus {

	color: #fff !important;

}



.btn-blue-green {

	background-color: #3f9cca;

	background: -webkit-linear-gradient(#4cadd4, #3896c5);

	background: -o-linear-gradient(#4cadd4, #3896c5);

	background: -moz-linear-gradient(#4cadd4, #3896c5);

	background: linear-gradient(#4cadd4, #3896c5);

	border-color: #4cadd4;

	color: #fff;

}

.btn-blue-green:hover {

	background: #ff8c00;

	border-color: #ff8c00;

	color: #000 !important;

}



.btn-blue-green:focus {

	color: #fff !important;

}





.btn-darkblue {

	background-color: #004586;

	-webkit-box-shadow: inset 0 36px 38px -38px #fff;

	-moz-box-shadow: inset 0 36px 38px -38px #fff;

	box-shadow: inset 0 36px 38px -38px #fff;

	border-color: #3f9cca;

	color: #fff;

  font-family: ticker_taperegular;

  font-size: 14px;

  font-weight: 400;

}

.btn-darkblue:hover {

	background-color: #ff8c00;

	border-color: #ff8c00;

	color: #000 !important;

}

.btn-darkblue:focus {

	color: #fff !important;

}



.btn-violet-fb {
	background-color: #395697;
	color: #fff;
}

.btn-violet-fb:hover {
	color: #fff;
}



.btn-greygreen {
	background-color: #6298A5;
	color: #fff;
}

.btn-greygreen:hover {
	background-color: orange;
	color: #000 !important;
}

.btn-greygreen:visited {
	color: #fff;
}







.btn-style1 {

	background-color: #4986a1;

	color: #fff;

	border-color: #adadad;

}



.btn-style1:hover {

	background-color: #65a3be;

	color: #fff !important;

	border-color: #ccc;

}



.btn-style1.focus, .btn-style1:focus {

	color: #fff !important;

    border-color: #8c8c8c;

}



.btn-orange {

  border-color: #925c23;

  /*box-shadow: 0 1px 2px #777;*/

  color: #694219;



background-color:#f5c489;

background:-webkit-gradient(linear, left top, left bottom, from(#FED99A), to(#ECAE78));

background:-moz-linear-gradient(top, #FED99A, #ECAE78);

background:-o-linear-gradient(top, #FED99A, #ECAE78);

background:linear-gradient(top, #FED99A, #ECAE78);

filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FED99A', endColorstr='#ECAE78');



}



.btn-orange:hover, 
.btn-orange:focus 
{

background-color:#f3b871;
background:-webkit-gradient(linear, left top, left bottom, from(#fed081), to(#e9a162));
background:-moz-linear-gradient(top, #fed081, #e9a162);
background:-o-linear-gradient(top, #fed081, #e9a162);
background:linear-gradient(top, #fed081, #e9a162);
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fed081', endColorstr='#e9a162');
    border-color: #925c23;
    box-shadow: 0 1px 2px #777;
    color: #694219;
}



.btn-orange-m {
	background: -webkit-linear-gradient(#ffd862, #ffc30b);
	background: -o-linear-gradient(#ffd862, #ffc30b);
	background: -moz-linear-gradient(#ffd862, #ffc30b);
	background: linear-gradient(#ffb644, #ff9e07);
	border-color: #ffb644;
	color:#000;
}

.btn-orange-m:focus:not(:disabled):not(.disabled){

	border-color: #B36C00;

}

.btn-red {
	background: -webkit-linear-gradient(#f27966, #eb4d4d);
	background: -o-linear-gradient(#f27966, #eb4d4d);
	background: -moz-linear-gradient(#f27966, #eb4d4d);
	background: linear-gradient(#f27966, #eb4d4d);
	border-color: #f27966;
	color:#fff;

}

.btn-red:focus:not(:disabled):not(.disabled){
	border-color: #BD1615;
}


.btn-green {
	background-color: #1bcb49;
	background: -webkit-linear-gradient(#4fcb4f, #00b04e);
	background: -o-linear-gradient(#4fcb4f, #00b04e);
	background: -moz-linear-gradient(#4fcb4f, #00b04e);
	background: linear-gradient(#4fcb4f, #00b04e);
	border-color: #4fcb4f;
}

.btn-green:focus:not(:disabled):not(.disabled){
	border-color: #005C2A;
}



.btn-green-shadow {
/*
	display: inline-block;
	padding: 10px;
	margin: 3px;
*/
	/* font-size: 12px; */
	/* font-weight: bold; */
	/* font-family: Tahoma, Geneva, sans-serif; */
/*
	line-height: 1.2em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
*/
	color: #fff;
	background-color: #008b8b;
	border-color: #008b8b;
/*
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
*/
	-webkit-box-shadow: inset 0 36px 38px -38px #fff;
	-moz-box-shadow: inset 0 36px 38px -38px #fff;
	box-shadow: inset 0 36px 38px -38px #fff;
	
/*  font-family: Lobster;*/
  font-size: 14px;
  font-weight: 400;
}

.btn-green-shadow:hover, 

.btn-green-shadow:focus 

{

    color: #000;

	border-color: #ff8c00;

	background-color: #ff8c00;

}


/* COLORS */
.bg-darkblue {
  background-color: #004586 !important;

}




.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}
.nav-tabs > li {
	float: left;
	margin-bottom: -1px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	border: 1px solid transparent;
	border-radius: 4px 4px 0 0;
}
.nav > li > a {
	position: relative;
	display: block;
	padding: 10px 15px;
}




#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -45px;
	display:none;
}

#app-title {
/*    font-family: a_Huxley;*/
    font-size: 60px;
    margin-top: 0;
    margin-bottom: 0;
	/*text-shadow: 6px 5px 4px #bebebe;*/
}
@media screen and (max-width:768px) 
{
	#app-title{
		display:none;
	}
}




/*--------------------- LOAD --------------*/

/* http://dbmast.ru/adaptivnoe-modalnoe-okno-strogo-po-centru */

.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}



.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}


.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}


.dm-modal {

    display: inline-block;
    max-width: 50em;
	/*background: #607d8b;*/
	/*background-color: rgb(200, 200, 250);*/
	background-color: #b0c4de;
	border-radius: 10px;
	padding: 25px;
	/* width: 300px; */
	z-index: 1042;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    /*color: #cfd8dc;*/
	color: #000;
    text-align: left;
}



#win1 .circle-clipper .circle {

	border-width: 10px;

}



#win1 .progress {
	height: 20px;
	background-color: #fff;
	border-radius: 3px;
}





#pager{

	background-color:#b0c4de;
/*
position:fixed;
right:20px;
top:145px;
z-index: 9999;
*/
}



.touch #pager {
background-color:#ccffff;
/*position:static;*/
}





@media screen and (max-width:1280px) 
{ 
	#pager{
		/*background-color:#def;*/
		/*position:static;*/
	}
}





.block-num-page {

	padding: 5px;

}

#page-number {

display:inline;

width: 50px;

/*margin-left:10px;*/
margin-bottom: 5px;

text-align: center;

}
#page-number-less {

/*position: relative;

bottom: -3px;

left: -1px;
*/
}

#page-number-more {

/*position: relative;

bottom: -3px;

left: 1px;
*/
}


#block-links .content a {
	color: #fff;
}


.album {
	max-width: 300px;
	margin: 5px;
	/* float: left; */
	display: inline-block;
	vertical-align: top;
border: 1px solid;	
}

.album img {
	width: 100%;
}


/*
#block-playlist {
	position: fixed;
	left: 0;
	top: 100px;
	width: 25%;
}*/