html, body{
/*height:100%;*/
margin:0;
padding:0;
}

body {
  background-color: #055c80;
  padding: 90px 0 0 0;
}


a {
	color: #337ab7;
	text-decoration: none;
}

#top {
	position: fixed;
	top: 0;
	width: 100%;
	/* margin: 0; */
	/* padding: 0; */
	height: 60px;
/*	margin-left: -15px;*/
	z-index: 99;
/*opacity: 0.8;*/
}
/*
.header {
	padding: 1px;
	background-color: #e6e6fa;
}

.header h1 {
	text-align: center;
	padding: 0;
}*/

.container, .top-bar {
width: 80%;
margin: auto;
}

.container {
padding: 20px;
  background-color: #f8f9fa;
  /*border: 1px solid rgba(0, 0, 0, 0.15);*/
  border-radius: 4px;
/*
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
*/
}

.top-bar {
background-color: #004586;
padding: 20px;
}
#btn-toggle-menu{
	color:#fff;
}

footer {
  margin-top: 5px;
  margin-bottom: 5px;
/*
    padding: 10px 10px 0px 10px !important;
    background-color: #fff;  
*/
}

/* GRID */
.w10{width:10%;}
.w20{width:20%;}
.w25{width:25%;}
.w30{width:30%;}
.w33{width:33%;}
.w50{width:50%;}
.w60{width:60%;}
.w65{width:65%;}
.w70{width:70%;}
.w80{width:80%;}
.w90{width:90%;}
.w100{width:100%;}

.row {
	/* float: none; */
	clear: both;
	overflow: hidden;
}


/* ICONS */
@font-face {
	font-family:FontAwesome;
	src:url(../fonts/fontawesome-webfont.eot);
	src:url(../fonts/fontawesome-webfont.eot?#iefix)format("embedded-opentype"),url(../fonts/fontawesome-webfont.woff2)format('woff2'),url(../fonts/fontawesome-webfont.woff)format("woff"),url(../fonts/fontawesome-webfont.ttf)format("truetype");
	font-weight:400;
	font-style:normal
}

[class*='icon-'] {
  font-family: FontAwesome;
  display: inline-block;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*='icon-'],
[class*='icon-']:hover,
[class*='icon-']:focus {
  text-decoration: none;
}

.icon-search:before {
  content: "\f002";
}
.icon-remove:before,
.icon-close:before,
.icon-times:before {
  content: "\f00d";
}
.icon-navicon:before,
.icon-reorder:before,
.icon-bars:before {
  content: "\f0c9";
}
.icon-folder:before {
  content: "\f07b";
  margin: 5px;
}
.icon-folder-open:before {
  content: "\f07c";
  margin: 5px;
}
.icon-level-up:before {
  content: "\f148";
}
.icon-level-down:before {
  content: "\f149";
}

.icon-long-arrow-down:before {
  content: "\f175";
}
.icon-long-arrow-up:before {
  content: "\f176";
}
.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}

/*.subfolder > small {
  content: "\f07b";
}*/

/*================================*/

/* LOG panel */
.log-panel {
	margin-bottom: 0;
	margin-top: 5px;
	background-color: #b0c4de;
	position: fixed;
	bottom: 0;
	right:0;
	z-index: 999;
	opacity: 0.9;
	border-radius: 4px;
}

.log-panel .panel-body{
	padding: 5px;
}

/*.log-panel span a{
text-decoration:none;
outline: none;
}*/

/*
#log .alert {
margin-bottom: 0;
padding: 10px;
}*/

#log{
/*	
	height: 400px;
	overflow-y: auto;	
*/	
}

/*#log p{
margin: 0;
}*/

/* COLORS */
.bg-darkblue {
  background-color: #004586 !important;
}
.bg-white {
  background-color: #ffffff !important;
}
.bg-lightsteelblue6 {
	background-color: #C7D5EC;
}
.bg-lightsteelblue7{
  background-color: #AABAD5 !important;
}

/*============================*/

/* BUTTONS */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	
	outline:none;
}
.btn-blue-c4 {
    color: #fff;
	background-color: #269abc;
}
.btn-blue-c4:hover {
	background-color: #ff8c00;
	color: #000 !important;
}
.btn-blue-c4:focus {
	color: #fff !important;
}
.btn-blue-c4:active {
	background-color: red;
}


/* fix UIkit */
.uk-modal-page {
	overflow: inherit !important;
}
/*.uk-offcanvas-container {
overflow-y: auto !important;
}*/


.my-offcanvas {
	display:none;
/*display: block !important;*/
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1000;
	touch-action: none;
	background: rgba(0,0,0,.1);
}


.my-offcanvas-bar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	-webkit-transform: translateX(0);
	transform: translateX(0);
	z-index: 1001;
	width: 0;
	max-width: 100%;
	background: #000;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
	-ms-scroll-chaining: none;
	
	opacity:0.8;
}

.my-offcanvas-bar .uk-nav-offcanvas a {
	color: #fff;
}
.my-offcanvas-bar .uk-nav-offcanvas a:hover {
	color: red;
}

.my-close {
	-webkit-appearance: none;
	margin: 0;
	border: none;
	overflow: visible;
	font: inherit;
	color: inherit;
	text-transform: none;
	padding: 0;
	background: 0 0;
	display: inline-block;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	width: 20px;
	line-height: 20px;
	text-align: center;
	vertical-align: middle;
	opacity: .3;
}
.my-close::after {
	display: block;
	content: "\f00d";
	font-family: FontAwesome;
}
.my-close-alt {
	padding: 2px;
	border-radius: 50%;
	background: #eee;
	opacity: 1;
}



#btn-scroll-to-top {
	/*left: 44%;*/
	/*margin-left: 15px;*/
	position: fixed;
	bottom: 5px;
	left: 50%;
	margin-left: -45px;
/*	display:none !important;*/
}

#app-title {
/*    font-family: a_Huxley;*/
/*    font-size: 60px;*/
	color:#fff;
    margin-top: 0;
    margin-bottom: 0;
	/*text-shadow: 6px 5px 4px #bebebe;*/
}
@media screen and (max-width:768px) 
{
	#app-title{
		display:none;
	}
}




/*--------------------- LOAD --------------*/
/* http://dbmast.ru/adaptivnoe-modalnoe-okno-strogo-po-centru */
.dm-overlay {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.65);
    display: none;
    overflow: auto;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.dm-table {
    display: table;
    width: 100%;
    height: 100%;
}


.dm-cell {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
    text-align: center;
}


.dm-modal {
    display: inline-block;
    max-width: 50em;
	/*background: #607d8b;*/
	/*background-color: rgb(200, 200, 250);*/
	background-color: #b0c4de;
	border-radius: 10px;
	padding: 25px;
	/* width: 300px; */
	z-index: 1042;
    -webkit-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.22), 0px 19px 60px rgba(0, 0, 0, 0.3);
    /*color: #cfd8dc;*/
	color: #000;
    text-align: left;
}



#win1 .circle-clipper .circle {
	border-width: 10px;
}
#win1 .progress {
	height: 20px;
	background-color: #fff;
	border-radius: 3px;
}

#block-playlist{
text-align:center;
}

#block-pager{
}

.block-num-page {
padding: 5px;
}

#page-number {
/*display:inline;*/
width: 50px;
/*margin-left:10px;*/
/*margin-bottom: 5px;*/
text-align: center;
}
#page-number-less {
/*position: relative;
bottom: -3px;
left: -1px;
*/
}

#page-number-more {
/*position: relative;
bottom: -3px;
left: 1px;
*/
}
#block-pager .box-range {
	padding-top: 5px;
}


#block-links .content a {
	color: #fff;
}


.album {
	max-width: 300px;
	margin: 5px;
	/* float: left; */
	display: inline-block;
	vertical-align: top;
border: 1px solid #ccc;
text-align: center;
background-color: #cfdfe6;
}

.album img {
	width: 100%;
}
.album h3 {
	background-color: #aecdd5;
}



/*
#block-playlist {
	position: fixed;
	left: 0;
	top: 100px;
	width: 25%;
}*/

.tag-list li {
	display: inline-block;
	padding: 5px;
	border: 1px solid;
}

#block-playlist .uk-list li {
	display: inline-block;
}


.button-group li {
	display: inline-block;
}
/*#block-player .list-group-item.active {
	background-color: #337ab7;
}*/
/*#block-player .list-group-item.active a {
	color: #fff;
}*/
#block-player .list-group-item.active .track-name{
	border:1px solid;
	padding:5px;
}
#block-player .track-name,
#block-player .edit-track,
#block-player .remove-track{
	font-size: 80%;
}

#block-tracklist {
	position: fixed;
	right: 0;
	top: 100px;
	width: 25%;
background-color:#87cefa;
/*background-color: #b1d0ef;
border: 1px solid #004586;*/

	padding: 5px;
	margin: 5px;
	z-index: 999;
}
#block-tracklist .wrapper {
	border: 1px solid #004586;
	padding: 10px;
}

.list-group-item {
/*	position: relative;
	display: block;*/
	padding: 5px 5px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.list-unstyled {
	padding-left: 0;
	list-style: none;
}

.uk-list-striped > li {
	padding: 5px 5px;
}
.uk-list-striped > li:nth-of-type(2n+1) {
	/* background: #e9f0f0; */
	background-color: #dee4ef;
}

#block-file-manager .wrapper {
	border: 1px solid #5392ce;
	padding: 5px;
}
