body {
	background-color: #baaaba;
}
.container {
	margin: 15px;
	padding: 10px;
}
.panel {
	margin: 15px;
	padding: 10px;
	border: 1px solid #cbb;
	/*background-color: #efffef;*/
	background-color: #fff;
}
