
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav{margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {
	margin:0; 
	position: relative;  
	zoom: 1;
}
.flex-viewport {
	max-height: 2000px; 
}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}
.carousel li {margin-right: 5px}
.flexslider .slides li {position:relative}


.flex-control-thumbs {
	margin: 5px 0 0; 
	position: static; 
	overflow: hidden;
}
.flex-control-thumbs li {
	width: 25%; 
	float: left; 
	margin: 0;
}
.flex-control-thumbs img {
	width: 100%; 
	display: block; 
	opacity: .7; 
	cursor: pointer;
}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev {opacity: 1; left: 0;}
  .flex-direction-nav .flex-next {opacity: 1; right: 0;}
}
.main-slide .flex-direction-nav {display:none}
.main-slide {
	width:688px;
	height:372px;
	background: #bcdde2 url(../images/ajax-loader.gif) no-repeat center;
	float:left;
	border:3px solid #bcdde2;
	line-height:0;
	position:relative;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.main-slide .slides li img {
	width:688px;
	height:372px;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-radius:8px;
}
.txt-sl {
	line-height:1.3em;
	background:url(../images/bg-txt-sl.png) repeat;
	position:absolute;
	color:#656463;
	font-size:18px;
	#font-family: 'Conv_segoepr';
font-family: 'PT Serif Caption', serif;
	z-index:3;
	bottom:0;
	left:0;
	width:100%;
	padding:0 0 10px 0;
	text-shadow:1px 1px 0 #fff;
	-webkit-border-bottom-left-radius:6px;
	-webkit-border-bottom-right-radius:6px;
	-webkit-border-radius:0 0 6px 6px;
	-moz-border-bottom-left-radius:6px;
	-moz-border-bottom-right-radius:6px;
	-moz-border-radius:0 0 6px 6px;
	border-radius:0 0 6px 6px;
	text-align:center
}
.txt-sl div {
	width:304px;
	float:right;
	margin:-20px 4px 0 0;
	position:relative;
	z-index:3
}
.txt-sl header{
	color:#218e9e;
	font-size:30px;
	line-height:1em;
	text-shadow:-1px 1px 0 #fff;
	#font-family: 'ds_gooseregular';
font-family: 'Philosopher', sans-serif;
}
.cloud {
	display:block;
	position:absolute;
	width:324px;
	height:83px;
	right:0;
	top:-83px;
	background:url(../images/bg-sl.png) no-repeat;
}
.bot-bg{
	background:url(../images/bot-sl.png) 0 100% repeat-x;
	height:149px;
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	z-index:2
}
.main-slide .flex-control-nav {
	width: 80%; 
	position: absolute; 
	z-index:6;
	bottom: 10px; 
	left:20px;
	text-align:left;
}
.main-slide .flex-control-nav li {
	margin: 0 3px; 
	display: inline-block; 
	zoom: 1; 
	*display: inline;
}
.main-slide .flex-control-paging li a {
	width: 17px; 
	height: 17px; 
	display: block; 
	background:url(../images/bg-icon.png) -34px -73px no-repeat;
	cursor: pointer; 
	text-indent: -9999px; 
}
.main-slide .flex-control-paging li a:hover { 
	background:url(../images/bg-icon.png) -34px -91px no-repeat;
}
.main-slide .flex-control-paging li a.flex-active { 
	background:url(../images/bg-icon.png) -34px -91px no-repeat;
	cursor: default; 
}

.slide-main .slides {
	height:197px;
	text-align:center;
	background:url(../images/bg-slides.png) repeat-x;
}
.slide-main .slides li {
	padding-top:5px;
	float:left
}
.slide-main .item {
	width:188px;
	height:187px;
	position:relative;
	display:inline-block;
	vertical-align:top;
	margin:0 2px;
	color:#218e9e;
	font-size:18px;
	line-height:1.1em;
	#font-family: 'Conv_segoeprb';
font-family: 'PT Serif Caption', serif;
	text-decoration:none
}
.item span {
	width:166px;
	height:59px;
	display:block;
	position:absolute;
	text-align:center;
	z-index:2;
	/*bottom:6px;*/
							top: 120px;
	left:50%;
	margin-left:-83px;
	overflow:hidden;
	background:url(../images/bg-bf.png) no-repeat;
}
.item span span {
	width:166px;
	position:static !important;
	height:50px;
	display:table-cell;
	vertical-align:middle;
}
.slide-main .flex-control-nav {display:none;}
.slide-main .flex-direction-nav a {
	width: 33px; 
	height: 74px; 
	margin: -20px 0 0; 
	display: block; 
	background: url(../images/bg-icon.png) no-repeat; 
	position: absolute; 
	top: 50%; 
	cursor: pointer; 
	text-indent: -9999px; 
}
.slide-main .flex-direction-nav .flex-next {
	background-position:-88px -72px;
	right: 20px; 
}
.slide-main .flex-direction-nav .flex-prev {left:20px;background-position:-57px -72px}
.slide-main .flex-direction-nav .disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}