.transform-class
{
-moz-transform: matrix(-1, 0, 0, 1, 0, 0); /* Для Firefox */
-ms-transform: matrix(-1, 0, 0, 1, 0, 0); /* Для IE */
-webkit-transform: matrix(-1, 0, 0, 1, 0, 0); /* Для Safari, Chrome, iOS */
-o-transform: matrix(-1, 0, 0, 1, 0, 0); /* Для Opera */
transform: matrix(-1, 0, 0, 1, 0, 0);
/*-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=-1, M12=0, M21=0, M22=1, SizingMethod='auto expand')";*/
}

#interior-wall
{
max-width:100%;
margin-top: 18px;
}
#interior
{
position: relative;
top: -320px;
/*top: -341px;*/
z-index: 1006;
}
#interior-design-wall
{
position: relative;
top: 0;
z-index: 1006;
cursor: default;
}
#interior-preview
{
height: 377px;
/*height: 608px;*/
overflow: hidden;
}
#interior-preview img
{
/*
margin-top: -214px;
width: 530px;
*/
}
.wrap-interior-img
{
height:321px;
overflow:hidden;
}

.grayscale
{
	/*filter: grayscale(100%);*/
	/*filter: url(filters.svg#grayscale);*/ /* Firefox 3.5+ */
	/*filter: gray;*/ /* IE6-9 */
	-webkit-filter: grayscale(100%); /* Google Chrome & Safari 6+ */
}
.sepia
{
	-webkit-filter: sepia(100%); /* Google Chrome & Safari 6+ */
}

#product-texture
{
display:none;
/*position: relative;*/
position: absolute;
z-index: 1000;
/*cursor: pointer;*/
}
#addtocart-decor-wallpapers #product-texture
{
position: absolute;
}

#interior-texture
{
/*width: 560px;*/
height: 320px;
margin-top: -320px;
position: relative;
top: 0;
z-index: 1005;
}
.shop-decor-design #interior-texture
{
top: 320px;
width: 535px;
}

.jcrop-tracker
{
cursor:pointer !important;
}



#guides-block
{
position:relative;
z-index: 1000;
}
.guides {
  border-left: 2px dashed #000000;
  position: absolute;
  width: 2px;
  height:320px;
  z-index: 1000;
}

#wall-block
{
border: 2px solid #00D3DF;
height: 320px;
left: 1px;
margin-top: -642px;
position: relative;
top:0;
width: 566px;
z-index: 1010;
cursor:pointer;
}


#crop-link
{
margin-top: 3px;
}
/*-----------------------------------------------------------------------------*/
.main-body
{
border: 3px solid #BCDDE2;
border-radius: 10px;
float: left;
position: relative;
width: 688px;
}

#form-auth
{
    position: absolute;
    right: 13px;
    top: -100px;
z-index: 3;	
background: url("../images/bg-menu-left.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
border: 1px solid #C3C3C3;
border-radius: 5px;
margin: 5px 0 0;
}
#form-auth   .menu-left
{
margin-bottom:0;
}

#header .menu ul
{
margin: 0 0 0 60px;
}

#j-basket
{
	display:none;
}


.menu-left #active_menu, 
.menu-info #active_menu 
{
  background: url("../images/bg-act.png") repeat-x scroll 0 0 rgba(0, 0, 0, 0);
  border: 1px solid #AAEDF2;
  color: #FFFFFF;
  text-shadow: 1px 1px 0 #155B64;
}
.menu-left table, 
.menu-info table 
{
width:100%;
}

.guest,
{
#font-family: 'Conv_segoepr';
font-family: 'PT Serif Caption', serif;
font-size: 15px;
}
.guest hr
{
display:none;
}
.guest a
{
  color: #434343;
  display: block;
  padding: 3px 20px 6px;
  text-decoration: none;
}
.guest form
{
    margin-left: 30px;
    margin-right: 30px;
}

.guest input[type="submit"]
{
	background: url("../images/bg-btn-zk.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
color: #fff;
border: 2px solid #aaedf2;
font-weight: bold;
font-size: 12px;
text-decoration: none;
padding: 4px 12px !important;
font-family: Tahoma, Geneva, sans-serif;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
-webkit-box-shadow: inset 0 36px 38px -38px #fff;
-moz-box-shadow: inset 0 36px 38px -38px #fff;
box-shadow: inset 0 36px 38px -38px #fff;
left: 45px;
position: relative;
}

#form-auth label
{
color: #000000;
font-weight: normal;
text-shadow: none;
}
#form-auth input[type="text"],
#form-auth input[type="password"]
{
border: 1px solid #D4CDEC;
display: block;
width: 150px;
margin-top: -10px;
}
#form-auth  label[for="password_field"] 
{
/*margin-top:-40px;*/
display:block;
}
#form-auth  label[for="username_field"] 
{
margin-top:20px;
display:block;
}
#form-auth #password_field
{
/*margin-top:-35px;*/
}
#form-auth  a[href*="zabyili-parol"] 
{
display:block !important;
color: #000000;
font-weight: normal;
text-shadow: none;
text-align: left;
border:none;
}

   
#action-lnk
{
margin-bottom: -15px;
}

#topmenu
{
float:left;
}
#top-nav-additem
{
float:left;
margin-left:0 !important;
}

/* скрыть форму сортировки товаров*/
.no-view-sort-form
{
display:none;
}

.top-nav ul a {
	color:#218e9e

}



#large-img
{
display: block;
min-height: 320px;
min-width: 320px;
/*
height: 320px;
overflow: hidden;
*/
}

.pfoto-card
{
overflow:hidden;
}
.pfoto-card img
{
/*width:auto;*/
margin-bottom: -5px;
}

.selection_data .h
{
font-weight:bold;
}

.continue-link
{
left: -25px;
position: relative;
text-align: center;
}
.continue-shopping a,
.checkout-title a
{
color: #FFFFFF;
text-decoration: none;
padding: 20px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) /* only Webkit */
{
	#show-cart-next
	{
	position:relative;
	left:-10px;
	}
}


/* modify account.order_details.php styles*/
.order-decor .price,
.order-decor .total,
.order-decor .shipping,
.order-decor .payment,
.order-decor .tax
{
display:none;
}


.im-product {
  /*background: #C0C0C0;*/
 /* min-height: 320px;*/
  width: 568px;
}

.blog h2
{
font-weight:bold;
	font-size:18px;
}

.direction a {
  text-decoration: none;
}

.btn-logout
{
background: none repeat scroll 0 0 rgba(0, 0, 0, 0);

position: relative;
top: -35px;
left: 90px;
cursor: pointer;

border-right: none;
border-left: none;
border-top: none;
border-bottom: 1px dotted #F09B80;
color: #FFFFFF;
text-decoration: none;
font-size: 12px;
font-weight: bold;
text-align: center;
text-shadow: 1px 1px 0 #6F1A00;
}
.w
{
position: relative;
top: 0;
left: -25px;
}

.category-child-list
{
position:relative;
#top:25px;
top:55px;
}
.category-10
{
position:relative;
top:-295px;
}
.category-29 
{
position:relative;
top:-100px;
}
.category-45 
{
position:relative;
top:-100px;
}


.category-20
{
position:relative;
top:-100px;
}
.category-6
{
position: relative;
top: -175px;
}
.category-42 
{
position:relative;
top:-100px;
}


.desc-category-10,
.desc-category-6
{
display:none;
}
.category-child-list ul
{
	list-style:none;
	margin:0;
	#font-family: 'Conv_segoepr';
font-family: 'PT Serif Caption', serif;
	font-size:15px;
	line-height:1em;
	padding:14px 0 4px 0;
}
.category-child-list ul li a
{
	color:#434343;
	text-decoration:none;
	display:block;
	padding:3px 20px 6px 20px
}
.category-child-list ul li a:hover{color:#e64100}
.category-child-list ul li.active a
{
	border:1px solid #aaedf2;
	background:url(../images/bg-act.png) repeat-x;
	color:#fff;
	text-shadow:1px 1px 0 #155b64
}

.no-product-6,
.no-product-10,
.no-product-20
{
display:none;
}

#formsubmit
{
cursor:pointer;
}


.option
{
 margin-bottom: 35px;
 margin-top: 8px;
}
.option-notes
{
color: #434343;
display: block;
margin-top: -35px;
position: relative;
top: 56px;
font-size:14px;
}

.max-size
{
color: #434343;
font-size:14px;
}
.help-text,
.block-line .help-text
{
color: #434343;
font-family: arial;
font-size: 14px;
line-height: 1em;
/*font-family: 'Conv_segoepr';*/
}

#addtocart-decor-design .color-main,
#addtocart-decor-wallpapers  .color-main
{
padding: 10px 0;
}

#addtocart-decor-design  .selectBox.fnt,
#addtocart-decor-wallpapers  .selectBox.fnt
{
margin-left: 0;
}
#addtocart-decor-design .select_tov,
#addtocart-decor-wallpapers  .select_tov
{
padding: 7px 0;
}

/*---------------------------------------------------------*/
.slidingVisual 
{
background: none repeat scroll 0 0 #FFFFFF;
border: 1px solid #C3C3C3;
margin: auto;
padding: 5px;
width: 845px;
}
.slidingVisual .simplemodal-close, 
.select_tov .simplemodal-close 
{
background: url("../images/x.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
cursor: pointer;
display: inline;
height: 29px;
position: absolute;
right: -8px;
top: -10px;
width: 25px;
z-index: 3200;
}
#hidedrapport
{
left: -5px;
position: relative;
top: 10px;
}

.select-tov-modal {
  background: none repeat scroll 0 0 #FFFFFF;
  border-radius: 7px;
  margin: 0 0 7px;
  padding: 7px 14px;
  position: fixed;
  right: 15px;
  top: 100px;
  width: 285px;
  z-index:8041;
}
.select-tov-modal .help-text
{
display:none;
}
.select_tov .texture-close-btn
{
display:none;
}
.select-tov-modal .texture-close-btn
{
background: url("../images/close.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
display: block;
float: right;
    height: 25px;
    width: 25px;
}

.modal-save-image-btn
{
display:none;
cursor:pointer;
}

#simplemodal-container
{
z-index:8011 !important;
}

.download-catalog a
{
float:right;
}


#zoom-link {
background: url("../images/zoomplus.png") no-repeat scroll 0 0 / 30% auto rgba(0, 0, 0, 0);
display: block;
float: right;
height: 128px;
left: 45px;
margin-bottom: -128px;
position: relative;
top: -50px;
width: 128px;
}

.shop-decor-design #zoom-link {
  background: url("../images/zoomplus.png") no-repeat scroll 0 0 / 90% auto rgba(0, 0, 0, 0);
  display: block;
  float: right;
  height: 128px;
  margin-bottom: -123px;
  margin-left: 10px;
  position: relative;
  top: -15px;
	left: 5px;  
  width: 40px;
  display:none;
}

.shopdecor-design-2 #zoom-link
{
  top: -100px;
}

#user-menu 
{
  position: absolute;
  right: 13px;
  top: 38px;
  z-index: 999;
}

#user-menu  .menu-left
{
    padding-left: 10px;
    padding-right: 10px;
}
.forgot-password
{
    padding: 10px;
    text-align: center;
}

.product-img-ST-13-0004-V
{
width:200px !important;
}

.show_visual .help-text p
{
line-height: 17px;
}

.remove-texture
{
/*float:right;*/
cursor:pointer;
}
.select-tov-modal .remove-texture
{
/*float:none;*/
display:block;
}

.yashare-auto-init
{
float:right;
}

.update-form,
.delete-form
{
width:20px;
}

.com-contact
{
display:none;
}



.coupon {
padding:25px;
}

.coupon p{
margin-top:15px;
margin-bottom:15px;
}

.coupon a{
color:#000;
font-weight:bold;
}

strong a{
color:#000;
font-weight:bold;
}





.coupon ul li{
margin-left:20px;
}


.coupon .btn{
margin-left:15px;
}




.is_available{
	color:#39a6b8;
	font-weight:bold;
}
.is_not_available{
	color:red;
}



