.shopdecor-wallpapers .filters .active, 
.shopdecor-design-2 .filters .active
{
color:#00D3DF;
}

.rows {
  clear: both;
}
.cols {
  float: left;
  width: 50%;
}
.col-1 
{
width: 75%;
margin-bottom: 20px;
}
.col-2
{
  width: 25%;
}
.col-2 .filters .btn {
  margin: 3px;
margin-right: 0px;  
}

#left-right,
#right-left
{
  margin-bottom: 5px;
}
#reset-link
{
  height: 20px;
  line-height: 15px;
  text-align: center;
  width: 128px;
}

.save-image-btn
{
cursor: pointer;
font-size: 11px;
height: 35px;
width: 160px;
}

.col-2 .filters {
  margin-bottom: 25px;
  margin-top: 10px;
}

.shopdecor-wallpapers #zoom-link {
background: url("../images/zoomplus.png") no-repeat scroll 0 0 / 30% auto rgba(0, 0, 0, 0);
display: block;
float: right;
height: 128px;
left: -30px;
margin-bottom: -128px;
position: relative;
top: -60px;
width: 128px;
}

.order-print-table .shipping-carrier-lbl,
.order-print-table .shipping-mode-lbl
{
display:none;
}


.product-price 
{
  font-size: 18px;
  left: 20px;
  position: relative;
  top: 10px;
}
.product-price.cols > input {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  border: medium none;
  font-size: 18px;
  width: 90px;
}


.product-price-author
{
  font-size: 18px;
  left: 350px;  
  position: relative;
  bottom: 20px;


}
.product-price-author.cols > input {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  #border: medium none;
  font-size: 18px;
  width: 50px;

border: 2px solid #BCDDE2;
border-radius: 5px;
text-align:center;



}





footer .main-block.menu1 
{
  width: 100px;
}

footer .main-block.menu2 {
  width: 370px;
}
footer .main-block.menu3 {
  width: 125px;
}
footer .main-block.menu4 {
  width: 150px;
}

.category-parent {
  float: left;
  width: 50%;
}
.category-parent.parent-id-10 {
  margin-right: 20px;
  width: 50%;
}
.category-parent.parent-id-6 {
  width: 44%;
}
.main-block.menu2 > header {
  text-align: center;
}

.currency-symbol {
  font-size: 11px;
}


.backet {
  font-size: 90%;
}
.backet header {
  padding: 9px 0 0 5px !important;
}
.backet form {
  font-size: 90%;
}
.r-bck {
  font-size: 85%;
  margin-left: 0 !important;
padding-right: 0 !important;
}

.l-bck {
	font-size: 85% !important;
  margin-left: 55px !important;
width: 60px !important;
}

